<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.adm.member.service.impl.AdminMemberMapper">

	<select id="getMemberList" resultType="MemberVO">
		<include refid="kr.co.gocle.include.paging-start" />
			SELECT
				CM.MEM_SEQ,
				CM.MEM_ID,
				CM.MEM_NAME,
				CM.DEPT_NO,
				CM.MEM_TYPE,
				CM.HP_NO,
				CM.EMAIL,
				CM.REG_DT,
				CM.LOCK_YN,
				CM.USE_YN
			FROM COM_MEMBER CM
			WHERE DELETE_YN = 'N'
			<if test="searchCondition != null and searchCondition != ''">
				<if test="searchKeyword != null and searchKeyword != ''">
					<if test="searchCondition == 'MEM_NAME' ">
					AND CM.MEM_NAME LIKE CONCAT('%', #{searchKeyword }, '%')
					</if>
					<if test="searchCondition == 'MEM_ID' ">
					AND CM.MEM_ID LIKE CONCAT('%', #{searchKeyword }, '%')
					</if>
				</if>
			</if>	
			<if test="searchKeyword != null and searchKeyword != ''">
				AND ( CM.MEM_NAME LIKE CONCAT('%', #{searchKeyword }, '%') OR CM.MEM_ID LIKE CONCAT('%', #{searchKeyword }, '%') )
			</if>
			
			ORDER BY CM.REG_DT ASC
		<include refid="kr.co.gocle.include.paging-end" />
	</select>
	
	<insert id="memberInsert" parameterType="MemberVO">
		INSERT INTO COM_MEMBER(
			MEM_SEQ
			,MEM_ID
			,MEM_TYPE
			,MEM_NAME
			,MEM_PASSWORD
			,EMAIL
			,REG_ID
			,REG_DT
			<if test="permitIp != null and permitIp != '' ">
			,PERMIT_IP
			</if>
			,DEPT_NM
			<if test="startDate != null and startDate != ''">
			,START_DATE
			</if>
			<if test="endDate != null and endDate != ''">
			,END_DATE
			</if>
			,COM_ID
		)
		VALUES(
			#{memSeq}
			,#{memId}
			,#{memType}
			,#{memName}
			,#{encryptPassword}
			,#{encryptEmail}
			,#{sessionMemSeq}
			,NOW()
			<if test="permitIp != null and permitIp != '' ">
			,#{permitIp}
			</if>
			,#{deptNm}
			<if test="startDate != null and startDate != ''">
			,#{startDate}
			</if>
			<if test="endDate != null and endDate != ''">
			,#{endDate}
			</if>
			,#{comId}
		)
	</insert>
	
	<select id="idDupCheck" parameterType="String" resultType="String">
		SELECT
		MEM_ID
		FROM COM_MEMBER
		WHERE MEM_ID = #{memId}
	</select>
	
	<select id="adminUpdateResult" parameterType="MemberVO" resultType="MemberVO">
	    SELECT
	        MEM_SEQ,
	        MEM_ID,
	        MEM_NAME,
	        MEM_TYPE,
	        HP_NO,
	        EMAIL,
	        STR_TO_DATE(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT,
	        STR_TO_DATE(UPD_DT, '%Y-%m-%d %H:%i:%s') AS UPD_DT,
	        STR_TO_DATE(LAST_LOGIN_YMD, '%Y-%m-%d') AS LAST_LOGIN_YMD,
	        PERMIT_IP,
	        DEPT_NM,
	        START_DATE,
	        END_DATE,
	        COM_ID
	    FROM COM_MEMBER
	    WHERE MEM_SEQ = #{memSeq}
	</select>
	
	<update id="memberUpdate" parameterType="MemberVO">
		UPDATE COM_MEMBER
		SET
			EMAIL = #{encryptEmail}
		<if test="memPassword != null and memPassword != '' ">
			,MEM_PASSWORD = #{encryptPassword}
			,LAST_PW_UPDT_YMD = NOW()
		</if>	
			,UPD_DT = NOW()
			,UPD_ID = #{sessionMemSeq}
			,MEM_TYPE = #{memType}
		<if test="permitIp != null and permitIp != '' ">
			,PERMIT_IP = #{permitIp}
		</if>
		<if test="permitIp == null or permitIp == '' ">
			,PERMIT_IP = NULL
		</if>
			,DEPT_NM = #{deptNm}
		<if test="startDate != null and startDate != '' ">
			,START_DATE = #{startDate}
		</if>
		<if test="startDate == null or startDate == '' ">
			,START_DATE = NULL
		</if>
		<if test="endDate != null and endDate != '' ">
			,END_DATE = #{endDate}
		</if>
		<if test="endDate == null or endDate == '' ">
			,END_DATE = NULL
		</if>
			,COM_ID = #{comId}
		WHERE MEM_ID = #{memId}
	</update>
	
	<update id="memberDelete" parameterType="MemberVO">
		UPDATE COM_MEMBER
		SET EMAIL = '',
			UPD_DT = NOW(),
			UPD_ID = #{sessionMemSeq},
			DELETE_YN = 'Y',
			SCSN_YN = 'Y'
		WHERE MEM_ID = #{memId}	
	</update>
	
	<select id="getMember" parameterType="MemberVO" resultType="MemberVO">

		SELECT
			MEM_ID,
			MEM_NAME,
			EMAIL
		FROM COM_MEMBER
		WHERE	MEM_SEQ = #{memSeq}
				AND MEM_ID = #{memId}
				AND	EMAIL = #{encryptEmail}
				AND DELETE_YN = 'N'
	</select>
	
	<update id="resetPassword" parameterType="MemberVO">
		UPDATE COM_MEMBER
		SET 
			MEM_PASSWORD = #{encryptPassword},
			UPD_ID = #{sessionMemSeq},
			UPD_DT = NOW()
		WHERE MEM_SEQ = #{memSeq} 
		AND MEM_ID = #{memId}
		AND DELETE_YN = 'N'
	</update>
	
	<update id="updateAdminPw">
		UPDATE COM_MEMBER
		SET 
			MEM_PASSWORD = #{encryptPassword},
			LAST_PW_UPDT_YMD = NOW(),
			UPD_ID = #{sessionMemSeq},
			UPD_DT = NOW()
		WHERE MEM_ID = #{memId}
		AND MEM_PASSWORD = #{oldPassword}
	</update>
	
	<update id="updateLockYnAdmin" parameterType="MemberVO">
		UPDATE COM_MEMBER
		SET 
			LOCK_YN = #{lockYn},
			UPD_ID = #{sessionMemSeq},
			UPD_DT = NOW()
		WHERE MEM_SEQ = #{memSeq}
	</update>
	
	<update id="updateUseYnAdmin" parameterType="MemberVO">
		UPDATE COM_MEMBER
		SET 
			USE_YN = #{useYn},
			UPD_ID = #{sessionMemSeq},
			UPD_DT = NOW()
		WHERE MEM_SEQ = #{memSeq}
	</update>
</mapper>