<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.usr.login.service.impl.UserLoginMapper">

	<select id="selectUserLogin" parameterType="LoginVO" resultType="LoginVO">
		SELECT MEM_SEQ
			, MEM_NAME
			, HP_NO
		FROM TB_USER
		WHERE MEM_SEQ = #{memSeq}
	</select>
	
	<insert id="insertUser" parameterType="LoginVO">
		INSERT INTO TB_USER (
			MEM_SEQ
			,MEM_NAME
			,HP_NO
			,REG_DT
		) VALUES (
			#{memSeq}
			,#{memName}
			,#{hpNo}
			,NOW()
		)
	</insert>
</mapper>