@charset "UTF-8";

section {font-size:14px!important;}

/* sms */
.smsCon { position:relative;height:409px;padding-left:395px;}
.smsCon .sms-recipient { position:relative;height:407px;background:#fff;border:1px solid #ccc;}
.smsCon .sms-recipient h4 { height:45px;line-height:45px;border-bottom:1px solid #ccc;text-align:center;background:#f2f2f2;font-size:16px; }

.smsCon .sms-contents { position:absolute;left:0px;width:390px;padding:28px 20px 20px;height:406px;border:1px solid #ccc; }
.smsCon .sms-text {  font-size:14px; }
.smsCon .sms-text textarea { resize:none;outline:0;border:0;background:transparent;width:100%;height:200px;overflow-y:auto;padding:10px;background:#f2f2f2; }

.sms-comment { position:absolute;padding:17px 17px;line-height:24px;color:#777; }
.sms-contents .sms-comment { left:0; }

.smsCon .sms-receiver { position:absolute;width:100%;bottom:102px;left:0;height:42px;line-height:42px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.smsCon .sms-receiver label { margin-left:18px;font-size:14px;color:#777;font-weight:bold; }

.smsCon .sms-sender { position:absolute;width:100%;bottom:59px;left:0;height:42px;line-height:42px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
.smsCon .sms-sender label { margin-left:18px;font-size:14px;color:#777;font-weight:bold; }
.smsCon .sms-sender input { height:28px;color:#222;border: 1px solid #DDD;padding:0 6px;margin-right:3px; }

.smsCon .btnCon { position:absolute;margin:0;padding:13px 0;width:100%;bottom:0;left:0;text-align:center;border-top:1px solid #fff;background:#f2f2f2; }
.smsCon .btnCon span { padding:0;background:none;color:#fff;font-size:14px;font-weight:bold; }

.smsCon .btnCon a { background-image:none;background:#4690ff;height:32px;line-height:32px;border-radius:16px;padding:8px 36px; }
.smsCon .btnCon a span { padding:0;background:none;color:#fff;font-size:14px;font-weight:bold; }

#msgLen {color:#4690ff;}

/* sms iframe inner */
.recip-inner ul.recip-list { padding:0px 7px 15px 7px;height:350px;line-height:20px;overflow-y:scroll }
.recip-inner ul.recip-list li { position:relative;padding:4px 13px;min-height:1em;font-weight:bold;color:#555;border-bottom:1px dashed #e1e1e1; }
.recip-inner ul.recip-list li a { display:none;position:absolute;width:20px;height:20px;right:0;top:3px; }
.recip-inner ul.recip-list li:hover a,
.recip-inner ul.recip-list li:focus a { display:block; }
.recip-inner ul:focus { outline:0; }

.recip-inner textarea { resize:none;padding:0;width:98%;margin:10px;height:290px;border:0;line-height:29px; }
.recip-inner .sms-comment { bottom:10px; }