<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.adm.login.service.impl.AdminLoginMapper">

	<select id="adminLogin" parameterType="LoginVO" resultType="LoginVO">
		SELECT MEM_SEQ,
			       MEM_ID,
			       MEM_NAME,
			       DEPT_NO,
			       EMAIL,
			       MEM_TYPE
			  FROM COM_MEMBER
			  WHERE MEM_ID = #{memId}
			  	AND MEM_TYPE = 'ADM'
			  	AND MEM_PASSWORD = #{encryptPassword} 
			  	AND DELETE_YN = 'N'
			  	AND SCSN_YN = 'N'
	</select>
	
	<select id="staffLogin" parameterType="LoginVO" resultType="LoginVO">
		SELECT MEM_SEQ,
			       MEM_ID,
			       MEM_NAME,
			       DEPT_NO,
			       EMAIL,
			       MEM_TYPE
			  FROM COM_MEMBER
			  WHERE MEM_ID = #{memId}
			  	AND MEM_PASSWORD = #{encryptPassword} 
			  	AND DELETE_YN = 'N'
			  	AND SCSN_YN = 'N'
	</select>
	
	<select id="selectAdminLogin" parameterType="LoginVO" resultType="LoginVO">
		SELECT MEM_SEQ,
			       MEM_ID,
			       MEM_NAME,
			       DEPT_NO,
			       EMAIL,
			       MEM_TYPE,
			       MEM_PASSWORD,
			       LOCK_YN,
			       PERMIT_IP,
			       START_DATE,
			       END_DATE,
			       LAST_PW_UPDT_YMD,
			       DELETE_YN,
			       SCSN_YN
			  FROM COM_MEMBER
			  WHERE MEM_ID = #{memId}
	</select>
	
	<update id="updateAdminLoginFailCntAdd" parameterType="LoginVO">
		UPDATE COM_MEMBER
		SET PW_ERR_NUMBER_TIMES = IFNULL(PW_ERR_NUMBER_TIMES, 0) + 1
		, LOCK_YN = CASE WHEN PW_ERR_NUMBER_TIMES <![CDATA[>=]]> 4 THEN 'Y'
					ELSE 'N'
					END
		WHERE MEM_ID = #{memId}
		AND DELETE_YN = 'N'
		AND SCSN_YN = 'N'
	</update>
	
	<select id="selectAdminLoginFailCnt" parameterType="LoginVO" resultType="int">
		SELECT IFNULL(PW_ERR_NUMBER_TIMES, 0) AS loginFailCnt
		FROM COM_MEMBER
		WHERE MEM_ID = #{memId}
		AND DELETE_YN = 'N'
		AND SCSN_YN = 'N'
	</select>
	
	<update id="updateAdminLoginSuccessInit" parameterType="LoginVO">
		UPDATE COM_MEMBER
		SET PW_ERR_NUMBER_TIMES = 0
		, LAST_LOGIN_YMD = NOW()
		WHERE MEM_ID = #{memId}
		AND DELETE_YN = 'N'
		AND SCSN_YN = 'N'
	</update>
</mapper>