<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.adm.login.service.impl.AdminLoginMapper">

	<select id="adminLogin" parameterType="LoginVO" resultType="LoginVO">
		SELECT MEM_SEQ,
			       MEM_ID,
			       MEM_NAME,
			       DEPT_NO,
			       EMAIL,
			       MEM_TYPE
			  FROM COM_MEMBER
			  WHERE MEM_ID = #{memId}
			  	AND MEM_TYPE = 'ADM'
			  	AND MEM_PASSWORD = #{encryptPassword} 
			  	AND DELETE_YN = 'N'
			  	AND SCSN_YN = 'N'
	</select>
	
	<select id="staffLogin" parameterType="LoginVO" resultType="LoginVO">
		SELECT MEM_SEQ,
			       MEM_ID,
			       MEM_NAME,
			       DEPT_NO,
			       EMAIL,
			       MEM_TYPE
			  FROM COM_MEMBER
			  WHERE MEM_ID = #{memId}
			  	AND MEM_PASSWORD = #{encryptPassword} 
			  	AND DELETE_YN = 'N'
			  	AND SCSN_YN = 'N'
	</select>
	
</mapper>