@charset "UTF-8";

#wrapper{overflow:hidden; position:relative; width:100%; min-width:1530px}
.wrap{position:relative; width:1530px; margin-right:auto; margin-left:auto}
@media all and (max-width:1530px){
    #wrapper{min-width:1300px}
    .wrap{width:1300px}
}
@media all and (max-width:1300px){
    #wrapper{min-width:1000px}
    .wrap{width:1000px}
}
@media all and (max-width:1000px){
    #wrapper{min-width:0}
    .wrap{width:auto; margin-right:0; margin-left:0; padding-right:3%; padding-left:3%}
}

/* gnb */
.gnb{position:relative; z-index:40; padding-top: 18px; font-family: 'Freesentation'; text-align: right;}

/* gnb 사이트 */
.gnb .site{display:inline-block; position:relative; font-size:0; line-height:0; vertical-align: top;}
.gnb .site_item{display:inline-block; position: relative; margin-right:9px; padding-left: 15px;}
.gnb .site_item:first-child{margin-left:30px; padding-left: 0;}
.gnb .site_item:last-child{margin-right:0;}
.gnb .site_item:before{display: block; position: absolute; top: 0; bottom: 0; left: 0; width:5px; height: 5px; margin: auto 0; border-radius: 50%; background-color: #d5d7dd;}
.gnb .site_item:first-child:before{display: none;}
.gnb .site_anchor{color:#757b8e; font-size:18px; line-height:20px; letter-spacing:0;}

/* gnb 링크 */
.gnb .link{display:inline-block; position:relative; font-size:0; line-height:0; vertical-align: top;}
.gnb .link_item{display:inline-block; position:relative; margin-left:18px; vertical-align:top}
.gnb .link_item:first-child{margin-left:0}
.gnb .link_anchor{position:relative; padding-left: 27px; color:#26293d; font-size:18px; line-height:20px; letter-spacing:0;}
.gnb .link_anchor:before{display: block; position: absolute; top: -2px; bottom: 0; left: 0; width:16px; height: 20px; background: url("../img/common/gnb_sprite.png") no-repeat;}
.gnb .login .link_anchor:before{background-position: -219px 0;}
.gnb .logout .link_anchor:before{width: 19px; background-position: -110px 0;}
.gnb .mypage .link_anchor:before{left:3px; background-position: left;}

@media all and (max-width:1000px){
    .gnb{display:none}
}

#header{position: relative;}
@media all and (max-width: 1000px) {
    #header{height: 80px;}
}
/* 그룹 */
#header .group{position:relative; z-index:30; width:100%}

/* 로고 */
.logo{position:absolute; top: 4px; left: 0; z-index: 21;}
.logo .logo_anchor{position:relative; z-index:10;}
.logo .logo_anchor span{position:relative; top:4px; padding-left:13px; font-family: 'WAGURI'; font-size: 30px; line-height: 30px; letter-spacing: 0; color: #26293d;}
@media all and (max-width:1000px){
    .logo{z-index:10; left: 20px; top:12px;}
    .logo img{width: 87px;}
    .logo .logo_anchor span{font-size: 24px;}
}
@media all and (max-width:640px){
    .logo{top: 22px; left: 15px;}
    .logo img{position:relative; width: 63px;}
    .logo .logo_anchor span{top:1px; padding-left:6px; font-size: 18px; line-height: 18px;}
}

/* 주메뉴 */
@media all and (min-width:1001px){
    .lnb{position:relative; width:100%; height:72px;}
    .lnb .wrap{height:100%}
    .lnb .menu{overflow:hidden; position:absolute; top:0; left:0; z-index:20; width:100%; height:100%; background-color:#fff; transition-property:height}

    /* 메뉴 배경 */
    .lnb:before{display:block; visibility:hidden; opacity:0; position:fixed; top:48px; left:0; z-index:10; width:100%; height:100%; background-color:rgba(0, 0, 0, 0.4); transition-property:visibility,opacity; transition-duration:0.25s; transition-timing-function:linear}
    .lnb_open .lnb:before{visibility:visible; opacity:1}

    /* 메뉴 높이 */
    .lnb .menu .depth2,.lnb .menu.after:after{height:calc(100% - 72px);}

    /* 하단 배경 활성화 */
    .lnb_open .lnb .menu.after:after{visibility:visible; opacity:1}

    /* 메뉴 상단 정보 */
    .lnb .menu_header{display:none}

    /* 메뉴 제목 */
    .lnb .menu_title{display:none}

    /* 1차 메뉴 */
    .lnb .menu .depth1_list{width:100%; text-align:right;}
    .lnb .menu .depth1_item{display: inline-block; vertical-align: top;}
    .lnb .menu .depth1_item + .depth1_item{margin-left: 64px;}
    .lnb .menu .depth1_item:first-child{margin-left:0}
    .lnb .menu .depth1_text{display:inline-block; position:relative; padding-top:24px; padding-bottom:23px; padding-left:0; text-align:center; font-family: 'Freesentation'; color:#1a1a1a; font-size:23px; line-height:25px; letter-spacing:0; font-weight:500; text-decoration:none; transition-property:color}
    .lnb .menu .depth1_text[target='_blank']:after{display:inline-block; width:15px; height:15px; margin-top:2.5px; margin-left:5px; vertical-align:top; background-color:#000}
    .lnb .menu .depth1_text:hover{color: #4c65d9;}

    /* 1차 메뉴 활성화 */
    .lnb .menu .depth1_item.active .depth1_text{color: #4c65d9; text-decoration:none;}
    .lnb .menu .depth1_item.active .depth1_text:before{visibility:visible; opacity:1}

    /* 2차 타이틀 */
    .lnb .menu .depth2{overflow:visible; box-sizing:border-box; transition-property:visibility,opacity}

    /* 1차메뉴 라인 */
    .lnb .menu .depth2_content{position:relative; padding-left:280px}

    /* 2차 메뉴 */
    .lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1; z-index:10}
    .lnb .menu .depth2_list{padding-bottom:58px; text-align:left}
    .lnb .menu .depth2_item{position:relative; width:calc((100% - 90px) / 4); margin-right: 30px; margin-top: 30px;}
    .lnb .menu .depth2_item:nth-child(4n){margin-right: 0;}
    .lnb .menu .depth2_text{display:block; position:relative; padding:15px 10px 13px; border:1px solid #d5d7dd; border-radius:7px; font-size:21px; line-height:30px; font-weight:500; color:#1a1a1a; text-decoration:none; transition-property:border, color; transition-duration:.15s; word-break:break-all; text-align: center;}
    .lnb .menu .depth2_item:hover .depth2_text{border-color: #4c65d9; color: #4c65d9;}
    .lnb .menu .depth2_text[target='_blank'] span{position: relative; padding-right: 25px;}
    .lnb .menu .depth2_text[target='_blank'] span:before{display:block; position:absolute; top:0; right:0; bottom:0; width:18px; height:18px; margin-top:auto; margin-bottom:auto; background:url("../img/common/blank_pc.png") no-repeat;}
    .lnb .menu .depth1_item .depth2_text:hover[target='_blank'] span:before{background:url("../img/common/blank_pc_hover.png") no-repeat;}

    /* 3차 메뉴 */
    .lnb .menu .depth1_item.active .depth3{visibility:visible; opacity:1; z-index:10}
    .lnb .menu .depth3_list{margin-top:26px; margin-left: 20px;}
    .lnb .menu .depth3_item{margin-top:12px;}
    .lnb .menu .depth3_item:first-child{margin-top:0}
    .lnb .menu .depth3_text{display:inline-block; position:relative; z-index:20; padding-left:19px; color:#4a4f66; font-size:20px; line-height:24px; letter-spacing:0; word-break:keep-all}
    .lnb .menu .depth3_text:before{display:block; position:absolute; top:9px; left:0; width:5px; height:5px; border-radius: 50%; background-color:#757b8e;}
    .lnb .menu .depth3_text:hover{color: #26293d;}
    .lnb .menu .depth3_text[target='_blank']:after{display:inline-block; width:14px; height:14px; margin-top:3px; margin-left:5px; background-color:#000; vertical-align:top; transition:none}

    /* 4차 메뉴 */
    .lnb .menu .depth4{display:none}

}

@media all and (min-width:1001px) and (max-width:1530px){
    .lnb .menu .depth2_content{padding-left: 0;}
}
@media all and (min-width:1001px) and (max-width:1300px){
    .lnb .menu .depth1_item + .depth1_item{margin-left:20px;}
    .lnb .menu .depth1_text{font-size: 21px;}
    .lnb .menu .depth2_text{padding: 15px 8px 14px;}
}

@media all and (max-width:1000px){

    /* 메뉴 영역 */
    .lnb .menu{visibility:hidden; overflow-x:hidden; overflow-y:auto; position:fixed; right:-100%; z-index:40; width:320px; height:100%; padding-top:60px; background-color:#fff; transition-property:visibility,right; transition-duration:0.25s; transition-timing-function:linear}
    .lnb .wrap{height:inherit;}

    /* 열기 버튼 */
    .lnb .menu_show{position:absolute; top:30px; width:23px; height:19px; right:15px; z-index:30; margin-top:auto; margin-bottom:auto}
    .lnb .menu_show .menu_btn{position:relative;}
    .lnb .menu_show .menu_btn:before{display:block; position:absolute; top:0; left:0; width:23px; height:19px; background:url('../img/common/mobile_sprite.png') no-repeat left -101px;}

    /* 닫기 버튼 */
    .lnb .menu_hide{position:absolute; top:22px; right:100%; width:17px; height:17px;}
    .lnb .menu_hide .menu_btn{display:block; position:relative; width:inherit; height:inherit;}
    .lnb .menu_hide .menu_btn:before{display:block; position:absolute; top:0; right:0; bottom:0; left:0; width:17px; height:17px; margin:auto; background:url('../img/common/mobile_sprite.png') no-repeat left top;}
    .lnb_show .menu_hide{right:20px}

    /* 메뉴 상단 */
    .lnb .menu_header{display:block; position:absolute; top:0; left:0; width:100%; background-color: #26293d;}

    /* lnb 링크 */
    .lnb .link{position:relative; padding:21px 20px 19px; font-size:0; line-height:0}
    .lnb .link_item{display:inline-block; margin-left:10px; vertical-align:top}
    .lnb .link_item:first-child{margin-left:0}
    .lnb .link_anchor,.lnb .link_button{color:#fff; font-size:16px; line-height:20px; letter-spacing:0;}
    .lnb .link_anchor{position:relative; padding-left: 25px;}
    .lnb .link_anchor:before{display: block; position: absolute; top:-2px; left: 0; width:16px; height:18px; background:url('../img/common/mobile_sprite.png') no-repeat left -130px;}



    /* 1차 메뉴 */
    .lnb .menu .depth1{height:inherit; z-index:10}
    .lnb .menu .depth1_list{position:relative; min-height:100%; background-color: #e9ebf4;}
    .lnb .menu .depth1_item{border-bottom:1px solid #e9ebf4; background-color: #fff;}
    .lnb .menu .depth1_text{display:block; position:relative; padding:19px 45px 17px 20px; color:#1a1a1a; font-size:18px; line-height:23px; letter-spacing:0; text-decoration:none; transition-property:font-weight}
    .lnb .menu .depth1_text:after{display:block; position:absolute; top:0; right:21px; bottom:0; margin-top:auto; margin-bottom:auto}
    .lnb .menu .depth1_text[target='_blank']:after{width:15px; height:15px; background-color:#000; transition:none}
    .lnb .menu .depth1_item.has .depth1_text:after{width:14px; height:9px; background:url('../img/common/mobile_sprite.png') no-repeat left -27px; transition:none}

    /* 1차 메뉴 활성화 */
    .lnb .menu .depth1_item.active .depth1_text{background-color: #4c65d9; color: #fff;}
    .lnb .menu .depth1_item.has.active .depth1_text:after{background-position: left -82px;}

    /* 2차 메뉴 */
    .lnb .menu .depth2{transition-property:visibility,opacity}
    .lnb .menu .depth2_list{transition-property:padding-top,padding-bottom; background-color: #f4f4f9;}
    .lnb .menu .depth2_item{border-bottom:1px solid #e9ebf4; transition-property:border-bottom-color}
    .lnb .menu .depth2_item:last-child{border-bottom: 0;}
    .lnb .menu .depth2_text{display:block; position:relative; padding-right:40px; padding-left:10px; color:#4a4f66; letter-spacing:0; text-decoration:none; box-sizing:border-box; transition-property:padding-top,padding-bottom,color}
    .lnb .menu .depth2_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:2px; right:22px; bottom:0; margin-top:auto; margin-bottom:auto; transition:none}
    .lnb .menu .depth2_text[target='_blank']:after{width:0; height:0; background-color:#000}
    .lnb .menu .depth2_item.has .depth2_text:after{width:12px; height:8px; background:url('../img/common/mobile_sprite.png') no-repeat left -46px;}

    /* 2차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2{right:0; z-index:20}
    .lnb .menu .depth1_item.active .depth2_text{padding:16px 45px 14px 40px; color:#4a4f66; font-size:16px; line-height:20px}
    .lnb .menu .depth1_item.active .depth2_text:after{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_text[target='_blank']:after{width:16px; height:16px; background:url('../img/common/blank_icon.png') no-repeat;}
    .lnb .menu .depth1_item.has .depth2_item.has.active .depth2_text:after{background-position: left -64px;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth2_text{color: #4c65d9;}

    /* 3차 메뉴 */
    .lnb .menu .depth3{transition-property:visibility,opacity,padding-top,padding-bottom}
    .lnb .menu .depth3_list{padding-left:40px; padding-right:15px; transition-property:margin-top,padding-top,padding-bottom}
    .lnb .menu .depth3_item{padding-left:15px;}
    .lnb .menu .depth3_item:before{display:block; position:absolute; top:0; left:0; width:0; height:0; border-radius: 50%; background-color:#d5d7dd; transition:none}
    .lnb .menu .depth3_text{display:block; padding-right:25px; color:#000; letter-spacing:-0.03em; text-decoration:none; transition-property:color,font-weight}
    .lnb .menu .depth3_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; right:0; bottom:0; margin-top:auto; margin-bottom:auto; transition:none}
    .lnb .menu .depth3_text[target='_blank']:after{top:0; right:0; width:0; height:0; background-color:#000}

    /* 3차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2_item.active .depth3{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_list{padding-top:16px; padding-bottom:26px; background-color:#fff;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item:before{top:13px; width:4px; height:4px}
    .lnb .menu .depth1_item.has .depth2_item.has .depth3_item.active:before{background-color: #4c65d9;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_text{padding:7px 0; color:#4a4f66; font-size:14px; line-height:16px; letter-spacing:0;}
    .lnb .menu .depth1_item.has .depth2_item.has .depth3_item.active .depth3_text{color: #4c65d9;}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_text:after{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_text[target='_blank']:after{top:4px; width:12px; height:12px}

    /* 4차 메뉴 */
    .lnb .menu .depth4{transition-property:visibility,opacity}
    .lnb .menu .depth4_list{padding-right:10px; transition-property:padding-top,padding-bottom; border:0 solid #000}
    .lnb .menu .depth4_item{padding-left:11px}
    .lnb .menu .depth4_item:before{display:block; position:absolute; top:0; left:0; width:0; height:0; background-color:#5a5d6b; transition:none}
    .lnb .menu .depth4_text{display:block; color:#525252; transition:none}
    .lnb .menu .depth4_text:after{display:block; visibility:hidden; opacity:0; position:absolute; top:0; right:0; bottom:0; margin-top:auto; margin-bottom:auto; transition:none}
    .lnb .menu .depth4_text[target='_blank']:after{top:0; right:0; width:0; height:0; background-color:#000}

    /* 4차 메뉴 활성화 */
    .lnb_show .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_list{margin-top:10px; padding-top:5px; padding-bottom:5px; border-top-width:1px}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item{margin-top:6px}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_item:before{top:10px; width:5px; height:1px}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text{color:#000; font-size:14px; line-height:19px; letter-spacing:-0.03em}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text:after{visibility:visible; opacity:1}
    .lnb .menu .depth1_item.active .depth2_item.active .depth3_item.active .depth4_text[target='_blank']:after{width:10px; height:10px}

    /* 5차 메뉴 */
    .lnb .menu .depth5{display:none}

    /*
        2단 메뉴 메뉴사용시  multiple 클래스 추가 필요함
        <nav class="menu after eachdown multiple">

        .lnb_show .lnb .menu .depth1_list{padding-right:70%; }
        .lnb .menu .depth1_item{position:static; }
        .lnb .menu .depth2{overflow-x:hidden;  overflow-y:auto;  @include position(absolute, 0, 0, px, px);  width:70%;  height:100%; }
        .lnb .menu .depth2_list{margin-left:10px; }
        */

}
@media all and (max-width:320px){
    .lnb .menu{width:100%}
}


/* 하단 바로가기 */
#footer{display: block; position: relative; padding: 42px 0; border-top: 1px solid #d5d7dd;}
#footer .link{position:relative; font-size:0; line-height:0}
#footer .link_list{padding-top:20px; padding-bottom:20px}
#footer .link_item{display:inline-block; position:relative; padding-right:14px; padding-left:23px}
#footer .link_item:first-child{padding-left: 0;}
#footer .link_item:before{display:block; position:absolute; top:0; bottom:0; left:0; width:5px; height:5px; margin:auto 0; border-radius: 50%; background-color:#d5d7dd;}
#footer .link_item:first-child:before{display:none}
#footer .link_anchor{position:relative; font-size:20px; line-height:24px; letter-spacing:0; color: #1a1a1a; text-decoration: none;}
#footer .link_item:first-child .link_anchor{color: #3f65d9;}

@media all and (min-width: 1001px) {
    #footer .link_anchor:before{display:block; position:absolute; right:0; bottom:-2px; width:0; height:1px; background-color:#1a1a1a; transition:width .25s ease-in-out;}
    #footer .link_item:first-child .link_anchor:before{background-color:#3f65d9;}
    #footer .link_anchor:hover:before{left:0; right:auto; width:100%;}
}

/* 하단 정보 */
#footer .footer_content{position:relative; margin-top:6px; margin-bottom:30px; font-size: 20px; line-height: 24px; letter-spacing: 0;}
#footer .footer_content span{word-break: keep-all;}
#footer .info_tel{margin-left: 19px;}
#footer .info_copyright{margin-top:36px; font-size: 17px; line-height: 20px; letter-spacing: 0; color: #757b8e; word-break: keep-all;}
#footer .wa{position:absolute; top:0; right:0}

@media all and (max-width: 1000px){
    #footer{padding: 5px 0 30px; text-align: center;}
    #footer .link_anchor{font-size: 18px; line-height: 23px;}
    #footer .footer_content{margin-top:0; font-size: 18px;}
    #footer .info_copyright{font-size: 16px;}
}
@media all and (max-width: 640px){
    #footer .link_item{padding-right: 8px; padding-left: 13px;}
    #footer .link_anchor{font-size: 16px;}
    #footer .footer_content{font-size: 16px; letter-spacing: -0.025em;}
    #footer .info_tel{margin-left: 0;}
    #footer .info_copyright{margin-top:19px; font-size: 15px;}
}
