@charset "UTF-8";
/* rowgroup */
.rowgroup{overflow:hidden; margin-bottom:38px; min-height:604px;}
.rowgroup .visual{position:relative; width:100%; padding-left:3px; transition-duration:1s; transition-timing-function:cubic-bezier(.16,.48,.36,1)}
.rowgroup .visual:before{display:block; opacity:0; position:absolute; top:53px; left:710px; width:922px; height:547px; background:url('../img/main/visual_01.png') no-repeat; background-size:cover;}
.rowgroup .visual:after{display:block; opacity:0; position:absolute; top:165px; left:823px; width:706px; height:417px; background:url('../img/main/visual_02.png') no-repeat; background-size:cover;}
.rowgroup.time_ani .visual:before{opacity:1; transition-property:opacity; transition-delay:0s;}
.rowgroup.time_ani .visual:after{opacity:1; transition-property:opacity; transition-delay:0.3s; transition-duration:1s}
.rowgroup.time_ani .visual .visual_title:before{opacity:1; transition-property:opacity; transition-delay:0.5s; transition-duration:1s}

.rowgroup .visual .visual_title{position:relative; margin-bottom:41px; padding-top:130px; color:#26293d; font-family:'Cafe24Air';}
.rowgroup .visual .visual_title:before{display:block; opacity:0; position:absolute; top:448px; left:1367px; z-index:1; width:106px; height:106px; background:url('../img/main/visual_03.png') no-repeat; background-size:cover;}
.rowgroup .visual .visual_title .sub_title{overflow:hidden; position:relative; top:11px; margin-bottom:14px;}
.rowgroup .visual .visual_title .sub_title .n01{font-size:25px; font-weight:500; line-height:46px; transform:translateY(46px); letter-spacing:0;}
.rowgroup.time_ani .visual .visual_title .sub_title .n01{transform:translateY(0); transition-property:transform; transition-delay:0.4s; transition-duration:0.8s}
.rowgroup .visual .visual_title .n02{display:block; overflow:hidden;}
.rowgroup .visual .visual_title .n02 span{color:#26293d; font-size:78px; font-family:'WAGURI'; line-height:92px; transform:translateY(92px); letter-spacing:0;}
.rowgroup .visual .visual_title .n03{overflow:hidden;}
.rowgroup .visual .visual_title .n03 span{color:#4c65d9; font-size:78px; font-family:'WAGURI'; line-height:92px; transform:translateY(92px); letter-spacing:0;}
.rowgroup.time_ani .visual .visual_title .n02 span{transform:translateY(0); transition-property:transform; transition-delay:0.4s; transition-duration:0.8s}
.rowgroup.time_ani .visual .visual_title .n03 span{margin-top:0; transform:translateY(0); transition-property:transform; transition-delay:0.45s; transition-duration:0.8s}

.rowgroup .visual .visual_more{overflow:hidden; position:relative; width:100%; height:70px;}
.rowgroup .visual .visual_more_btn{opacity:0; position:relative; z-index:3; min-width:330px; padding:16px 40px; border:2px solid #26293d; border-radius:50px; background-color:#fff; color:#26293d; font-size:22px; font-weight:700; font-family:'Tmoney'; line-height:34px; letter-spacing:0;}
.rowgroup.time_ani .visual .visual_more_btn{opacity:1; transition-property:opacity; transition-delay:0.8s; transition-duration:1s}

.rowgroup .visual .visual_more_btn:before{display:block; position:absolute; top:24px; left:242px; width:38px; height:20px; background:url('../img/main/visual_arrow2.png') no-repeat; background-size:cover; transition:all 0.5s ease-in-out; letter-spacing:0;}
.rowgroup .visual .visual_more_btn:after{display:block; position:absolute; top:33px; left:230px; width:50px; height:2px; background-color:#26293d; transition:all 0.5s ease-in-out;}
.rowgroup .visual .visual_more_btn:hover:before{left:260px;}
.rowgroup .visual .visual_more_btn:hover:after{left:230px; width:65px;}

@media all and (max-width:1530px) {
    /* rowgroup */
    .rowgroup{min-height: 580px;}
    .rowgroup .visual:before{left:470px; transform:scale(0.9);}
    .rowgroup .visual:after{left:594px; transform:scale(0.9);}
    .rowgroup .visual .visual_title:before{top:440px; left:1100px; transform:scale(0.9);}
    .rowgroup .visual .visual_title .sub_title{top:11px; height:36px; margin-bottom:4px;}
    .rowgroup .visual .visual_title .sub_title .n01{font-size:22px; line-height:36px;}
    .rowgroup .visual .visual_title .n02 span{font-size:60px; line-height:72px; transform:translateY(72px);}
    .rowgroup .visual .visual_title .n03 span{font-size:60px; line-height:72px; transform:translateY(72px);}
}
@media all and (max-width:1300px) {
    /* rowgroup */
    .rowgroup{ min-height: 550px;}
    .rowgroup .visual:before{left:300px; transform:scale(0.8);}
    .rowgroup .visual:after{left:424px; transform:scale(0.8);}
    .rowgroup .visual .visual_title:before{top:430px; left:900px; transform:scale(0.8);}
    .rowgroup .visual .visual_title .sub_title{top:11px; height:36px; margin-bottom:4px;}
    .rowgroup .visual .visual_title .sub_title .n01{font-size:22px; line-height:36px;}
}
@media all and (max-width:1000px) {
    /* rowgroup */
    .rowgroup{padding:0;}
    .rowgroup .visual:before{left:150px; transform:scale(0.7);}
    .rowgroup .visual:after{left:270px; transform:scale(0.7);}
    .rowgroup .visual .visual_title{margin-bottom:20px; padding-top:50px;}
    .rowgroup .visual .visual_title:before{top:410px; left:730px; transform:scale(0.7);}
    .rowgroup .visual .visual_title .n02 span{font-size:50px; line-height:62px; transform:translateY(62px);}
    .rowgroup .visual .visual_title .n03 span{font-size:50px; line-height:62px; transform:translateY(62px);}
    .rowgroup .visual .visual_more_btn{min-width:300px; padding:12px 20px; font-size:20px;}
    .rowgroup .visual .visual_more_btn:before{top:21px; left:220px;}
    .rowgroup .visual .visual_more_btn:after{top:30px; left:200px;}
    .rowgroup .visual .visual_more_btn:hover:before{left:240px;}
    .rowgroup .visual .visual_more_btn:hover:after{left:200px; width:70px;}
}
@media all and (max-width:800px) {
    /* .rowgroup .visual:before{left:50px;}
    .rowgroup .visual:after{left:160px;}
    .rowgroup .visual .visual_title{margin-bottom:20px; padding-top:0;}
    .rowgroup .visual .visual_title:before{top:400px; left:610px;}
    .rowgroup .visual .visual_title .sub_title{top:11px; height:36px; margin-bottom:4px;}
    .rowgroup .visual .visual_title .n02 span{font-size:40px; line-height:50px; transform:translateY(50px);}
    .rowgroup .visual .visual_title .n03 span{font-size:40px; line-height:50px; transform:translateY(50px);}
    .rowgroup .visual .visual_more_btn{min-width:auto;}
    .rowgroup .visual .visual_more_btn:before{display:none;}
    .rowgroup .visual .visual_more_btn:after{display:none;} */

    .rowgroup{min-height:420px;}
    .rowgroup .visual:before{top:0; left:0; transform:scale(0.5);}
    .rowgroup .visual:after{top:100px; left:105px; transform:scale(0.5);}
    .rowgroup .visual .visual_title{padding:0;}
    .rowgroup .visual .visual_title:before{top:310px; left:500px; transform:scale(0.5);}
    .rowgroup .visual .visual_title .sub_title{top:20px; height:36px;}
    /* .rowgroup .visual .visual_title .sub_title .n01{font-size:16px; line-height:20px; transform:translateY(20px);}
    .rowgroup .visual .visual_title .n02 span{font-size:30px; line-height:40px; transform:translateY(40px);}
    .rowgroup .visual .visual_title .n03 span{font-size:30px; line-height:40px; transform:translateY(40px);} */
    .rowgroup .visual .visual_more_btn{padding: 8px 18px; min-width:auto; font-size: 18px;}
    .rowgroup .visual .visual_more_btn:before{display:none;}
    .rowgroup .visual .visual_more_btn:after{display:none;}
}
@media all and (max-width:640px) {
    /* rowgroup */
    .rowgroup{margin-bottom:27px; min-height:270px;}
    .rowgroup .visual:before{top:110px; left:auto; right:-3%; width:264px; height:156px; transform:none;}
    .rowgroup .visual:after{top:142px; left:auto; right:14px; width:203px; height:119px; transform:none;}
    .rowgroup .visual .visual_title{padding:0;}
    .rowgroup .visual .visual_title:before{top:223px; left:auto; right:30px; width:30px; height:30px; transform:none;}
    .rowgroup .visual .visual_title .sub_title{top:0; height:20px;}
    .rowgroup .visual .visual_title .sub_title .n01{font-size:14px; line-height:20px;}
    .rowgroup .visual .visual_title .n02 span{font-size:26px; line-height:30px; transform:translateY(30px); ;}
    .rowgroup .visual .visual_title .n03 span{font-size:26px; line-height:30px; transform:translateY(30px);}
    .rowgroup .visual .visual_more_btn{padding:8px 14px; font-size:14px; line-height:20px;}
}

/* rowgroup2 */
.rowgroup2{margin-bottom:100px;}
.shortcuts{position:relative; margin-bottom: 209px;}
.shortcuts:before{display:block; position:absolute; top:0; left:-95px; z-index:1; width:1235px; height:450px; border:0; border-radius:30px 250px 250px 250px; background:#6d81db;}
.shortcuts:after{display:block; position:absolute; top:0; left:-95px; z-index:2; width:1235px; height:450px; border:0; border-radius:30px 250px 250px 250px; background:linear-gradient(145deg, rgba(63,101,217,0.1) 0%, rgba(221,73,108,0.1) 100%); box-shadow:20px 0px 50px rgb(53, 65, 120, 0.2);}
.shortcuts .shortcuts_list{display:inline-block; position:relative; padding-top:94px; padding-bottom: 164px; left:0; z-index:3;}
.shortcuts .shortcuts_list:before{display:block; position:absolute; top:342px; left:1021px; z-index:2; width:84px; height:84px; background:url('../img/main/shortcuts_05.png') no-repeat;}
.shortcuts .shortcuts_list .shortcuts_item{display:inline-block; position:relative; width:246px; margin-right:14px;}
.shortcuts .shortcuts_list .shortcuts_item:before{display:block; opacity:0; position:absolute; top:45px; left:50%; z-index:10; width:81px; height:81px; border-radius:50%; background-color:rgba(242, 242, 252, 0.5); box-shadow:10px 10px 20px rgb(14, 29, 96, 0.2); transform:translateX(-50%); transition:all 0.7s ease-in-out; backdrop-filter:blur(3px);}
.shortcuts .shortcuts_list .shortcuts_item:hover:before{opacity:1; transform :translate(-100px, -50px);}

.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor{display:block; position:relative; padding-top:156px; color:#fff; text-align:center;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:before{display:block; position:absolute; top:0; left:22px; width:202px; height:113px; background:url('../img/main/shortcuts_item_off.png') no-repeat; background-size:cover; transition:all 0.3s ease-in-out; filter:drop-shadow(10px 10px 20px rgb(14, 29, 96, 0.2));}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:hover:before{background:url('../img/main/shortcuts_item_on.png') no-repeat; background-size:cover;}

.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:after{display:block; position:absolute; z-index:11; background-size:cover; transition:all 0.3s ease-in-out; filter:drop-shadow(20px 0 50px rgb(14, 29, 96, 0.2));}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n01:after{top:44px; left:91px; width:68px; height:78px; background:url('../img/main/shortcuts_01.png'); background-size:cover;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n02:after{top:44px; left:93px; width:78px; height:78px; background:url('../img/main/shortcuts_02.png'); background-size:cover;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n03:after{top:53px; left:88px; width:88px; height:78px; background:url('../img/main/shortcuts_03.png'); background-size:cover;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n04:after{top:44px; left:79px; width:93px; height:82px; background:url('../img/main/shortcuts_04.png'); background-size:cover;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n01:hover:after{top:29px;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n02:hover:after{top:29px;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n03:hover:after{top:38px;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n04:hover:after{top:29px;}

.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor .shortcuts_text{display:block; opacity:0.6; z-index:3; font-size:17px; font-weight:100; font-family:'Cafe24Air'; line-height:24px; letter-spacing:0;}
.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor .shortcuts_title{opacity:1; margin-bottom:12px; font-size:25px; font-weight:700; font-family:'Tmoney'; line-height:36px; letter-spacing:0;filter:drop-shadow(10px 10px 20px rgb(47, 64, 164, 0.3));}

.shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:hover .shortcuts_item:before{background:url('../img/main/shortcuts_item_on.png') no-repeat;}
.quick{display:block; overflow:hidden; position:absolute; top:60px; left:350px; width:1282px; height:450px; padding-top:96px; padding-left:858px; border-radius:250px; background-color:#f2f2fc;}
.quick:before{display:block; position:absolute; top:-7px; left:-4px; width:120%; height:120%; background:url('../img/main/quick_bg.png');}
.quick h2{display:inline-block; position:relative; margin-bottom:23px; color:#3f65d9; font-size:34px; font-weight:700; font-family:'Tmoney'; line-height:50px; letter-spacing:-0.04em;}
.quick h2:before{display:block; position:absolute; top:-37px; left:200px; width:90px; height:90px; background:url('../img/main/quick_01.png') no-repeat;}
.quick .quick_list{margin-bottom:20px;}
.quick .quick_list .quick_item{position:relative; padding-left:28px;}
.quick .quick_list .quick_item:before{display:block; position:absolute; top:20px; left:0; width:10px; height:10px; border-radius:50px; background-color:#3f65d9;}
.quick .quick_list .quick_item .quick_anchor{position:relative; color:#4a4f66; font-size:24px; font-weight:500; font-family:'Cafe24Ssurround'; line-height:50px; transition:all 0.3s ease-in-out; letter-spacing:0;}
.quick .quick_list .quick_item .quick_anchor:before{display:block; position:absolute; left:0; bottom:5px; width:0; height:2px; background-color:#4a4f66; transition:width 0.25s ease-in-out;}
.quick .quick_list .quick_item .quick_anchor:hover:before{width:100%;}

@media all and (max-width:1530px) {
    /* rowgroup2 */
    .shortcuts{left:30px;}
    .shortcuts:before{left:-10px; width:1100px; height:450px;}
    .shortcuts:after{left:-10px; width:1100px; height:450px;}
    .shortcuts .shortcuts_list{left:20px;}
    .shortcuts .shortcuts_list:before{top:406px; left:800px; transform:scale(0.7);}
    .shortcuts .shortcuts_list .shortcuts_item{margin-right:0;}

    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:before{top:0; left:22px; width:202px; height:113px;}

    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n01:after{left:91px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n02:after{left:93px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n03:after{left:88px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n04:after{left:79px;}

    .quick{top:200px; left:150px; padding-top:280px; padding-left:130px;}
    .quick h2:before{top:-20px; left:180px; transform:scale(0.6);}
    .quick .quick_list .quick_item{display:inline-block; margin-right:30px;}
}
@media all and (max-width:1300px) {
    .rowgroup4{margin-bottom: 100px;}
    .shortcuts{left:0; margin-bottom: 0; padding-top: 70px; padding-bottom: 76px;}
    .shortcuts:before{left:0; width:100%; height:700px; border-radius:30px 200px 30px 30px;}
    .shortcuts:after{left:0; width:100%; height:700px; border-radius:30px 200px 30px 30px;}
    .shortcuts .shortcuts_list{left:50%; padding:0; transform:translateX(-50%);}
    .shortcuts .shortcuts_list:before{top:586px; left:50px;}
    .shortcuts .shortcuts_list .shortcuts_item{width:calc((100% - 29px)/2); margin-right:24px;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(2n){margin:0;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(3){margin-top:50px;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(4){margin-top:50px;}

    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:before{left:50%; transform:translateX(-50%);}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:after{left:50%; transform:translateX(-50%);}

    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n01:after{left:50%; transform:translateX(-50%);}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n02:after{left:50%; transform:translateX(-50%);}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n03:after{left:50%; transform:translateX(-50%);}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n04:after{left:50%; transform:translateX(-50%);}

    .quick{position:relative; top:0; left:0; width:100%; height:auto; margin-top: -50px; padding-top:80px; padding-left:0; border-radius:30px; text-align:center;}
    .quick h2:before{left:180px;}
    .quick .quick_list .quick_item{display:inline-block; margin-right:30px;}
}
@media all and (max-width:1000px){
    .shortcuts{left:0; padding-top: 10px; padding-bottom: 55px;}
    .shortcuts:before{left:0; width:100%; height:550px; border-radius:30px;}
    .shortcuts:after{left:0; width:100%; height:550px; border-radius:30px;}
    .shortcuts .shortcuts_list{top:0; width:100%;}
    .shortcuts .shortcuts_list:before{top:505px; left:50px;}
    .shortcuts .shortcuts_list .shortcuts_item{width:calc((100% - 29px)/2); margin-top:30px; margin-right:24px;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(2n){margin:0;}
    .shortcuts .shortcuts_list .shortcuts_item:before{top:60px;}
    .shortcuts .shortcuts_list .shortcuts_item:hover:before{transform: translate(-100px, -70px);}

    /*
        .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor{padding-top:140px;}
        .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:before{width:180px; height:101px;} */
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:after{}

    /* .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n01:after{width:50px; height:57px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n02:after{width:57px; height:57px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n03:after{width:64px; height:57px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n04:after{width:69px; height:61px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor .shortcuts_title{font-size:20px;} */
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor .shortcuts_title{font-size: 20px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor .shortcuts_text{display:none;}
    .quick{position:relative; padding-left:20px; padding-right:20px; border-radius:30px; text-align:center;}
    .quick h2{font-size:30px;}
    .quick h2:before{left:160px;}
    .quick .quick_list{text-align:left;}
    .quick .quick_list .quick_item{display:inline-block; margin-right:30px;}
    .quick .quick_list .quick_item:before{top:15px;}
    .quick .quick_list .quick_item .quick_anchor{font-size:20px; line-height:40px;}
}
@media all and (max-width:640px) {
    /* rowgroup2 */
    .rowgroup4{margin-bottom: 60px;}
    .rowgroup2{margin-bottom:50px;}
    .shortcuts{left:0; padding-top: 18px; padding-bottom: 0;}
    .shortcuts:before{height:100%; border-radius:20px;}
    .shortcuts:after{height:100%; border-radius:20px;}
    .shortcuts .shortcuts_list{height:288px;}
    .shortcuts .shortcuts_list:before{top:270px; left:27px; width:35px; height:35px; background-size:cover; transform:none;}
    .shortcuts .shortcuts_list .shortcuts_item{margin-top:0; margin-right:25px;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(2n){margin:0;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(3){margin-top:13px;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(4){margin-top:13px;}
    .shortcuts .shortcuts_list .shortcuts_item:before{top:30px; width:50px; height:50px;}
    .shortcuts .shortcuts_list .shortcuts_item:hover:before{transform :translate(-60px, -35px);}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor{padding-top:79px;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(3) .shortcuts_anchor{padding-top:88px;}
    .shortcuts .shortcuts_list .shortcuts_item:nth-child(4) .shortcuts_anchor{padding-top:88px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:before{width:121px; height:68px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor:after{}

    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n01:after{top:26px; width:40px; height:47px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n02:after{top:26px; width:47px; height:47px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n03:after{top:32px; width:53px; height:47px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n04:after{top:26px; width:56px; height:49px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n01:hover:after{top:17px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n02:hover:after{top:17px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n03:hover:after{top:23px;}
    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor.n04:hover:after{top:17px;}

    .shortcuts .shortcuts_list .shortcuts_item .shortcuts_anchor .shortcuts_title{font-size:16px; line-height:27px; margin-bottom: 10px;}
    .quick{height:auto; padding:80px 30px 10px; border-radius:30px;}
    .quick:before{top:-35px; left:-400px; width:300%; height:150%; transform:scale(0.6);}
    .quick h2{font-size:18px; line-height:27px;}
    .quick h2:before{top:0; left:106px; width:33px; height:33px; background-size:cover; transform:none;}
    .quick .quick_list .quick_item{margin-right:20px; padding-left:16px; font-size:16px;}
    .quick .quick_list .quick_item:before{top:11px; width:6px; height:6px;}
    .quick .quick_list .quick_item .quick_anchor{font-size:16px; line-height:27px;}
}
@media all and (max-width:460px) {
    .quick .quick_list .quick_item:nth-child(2){margin-right:0;}
    .quick .quick_list .quick_item:nth-child(3){display:block;}
}

/* rowgroup3 */
.rowgroup3{}
.rowgroup3 .notice{position:relative; margin-bottom:133px;}
.rowgroup3 .notice .notice_top_title{position:relative; padding-left:90px; text-align:left;}
.rowgroup3 .notice .notice_top_title:before{display: block; position: absolute; top: 7px; left: 20px; width: 53px; height: 54px; background: url("../img/main/news_icon.png") no-repeat;}
.rowgroup3 .notice .notice_top_title .sub_title{display:none; width:134px; height:53px; margin:0 auto 10px; padding-top:13px; background:url('../img/main/notice_01.png') no-repeat; background-size:cover; color:#fff; font-size:20px; font-family:'Tmoney'; line-height:28px; letter-spacing:-0.04em;}
.rowgroup3 .notice .notice_top_title .title{margin-bottom:36px; color:#19af50; font-size:50px; font-family:'Tmoney'; text-align:center; line-height:68px; letter-spacing:-0.04em;}
.rowgroup3 .notice .notice_list{margin-bottom:11px;}
.rowgroup3 .notice .slick-list{/*overflow:visible;*/}
.rowgroup3 .notice .notice_list .notice_item{margin-right:30px;}
.rowgroup3 .notice .notice_list .slick-slide:nth-child(2n){margin-top:20px;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor{position:relative; width:490px; height:375px; padding:50px 37px; border:1px solid #caccd3; border-radius:80px 30px 80px 30px; box-shadow:0 0 0 1px #fff inset; transition:box-shadow,border 0.3s ease-in-out;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor:hover{border-color:#19a960; box-shadow:24px 0px 30px rgba(50, 147, 98, 0.07), 0 0 0 1px #19a960 inset;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor:before{display:block; opacity:0; position:absolute; top:-13px; left:410px; width:24px; height:24px; background:url('../img/main/notice_02.png') no-repeat; background-size:cover; transition:all 0.3s ease-in-out;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor:hover:before{opacity:1;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor:after{display:block; opacity:0; position:absolute; top:360px; left:38px; width:24px; height:24px; background:url('../img/main/notice_02.png') no-repeat; background-size:cover; transition:all 0.3s ease-in-out;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor:hover:after{opacity:1;}

.rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_date{margin-bottom:14px; padding-left:4px; color:#19a960; font-size:20px; font-family:'Cafe24Ssurround'; line-height:28px; letter-spacing:0;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_title{display:-webkit-box; overflow:hidden; margin-bottom:4px; color:#1a1a1a; font-size:26px; font-family:'Cafe24Ssurround'; text-align:left; line-height:37px; letter-spacing:0;-webkit-line-clamp:2; -webkit-box-orient:vertical;}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_text
{   display: -webkit-box;
    overflow: hidden;
    color: #757b8e;
    font-size: 22px;
    font-weight: 400;
    font-family: 'Freesentation', sans-serif;
    text-align: left;
    line-height: 31px;
    letter-spacing: 0;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;

    /* �߰� */
    max-height: calc(31px * 3);
    word-break: break-word;
    width: 100%; /* �Ǵ� ���ϴ� ����/�ִ� �ʺ� */}
.rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_line{height:2px; margin:26px 0 25px; border:none; background-image:repeating-linear-gradient(90deg, #d5d7dd, #d5d7dd 8px, transparent 4px, transparent 12px);}
.rowgroup3 .notice .notice_control{width:150px; height:60px; margin:0 auto; font-size:0;}
.rowgroup3 .notice .notice_control .notice_prev{position:relative; left:0; width:60px; height:60px; border:1px solid #757b8e; border-radius:100px; transition:all 0.3s ease-in-out;}
.rowgroup3 .notice .notice_control .notice_prev:before{display:block; position:absolute; top:23px; left:23px; width:12px; height:14px; background:url('../img/main/notice_arrow.png') no-repeat; background-size:cover; transition:all 0.3s ease-in-out;}
.rowgroup3 .notice .notice_control .notice_prev:hover{border:1px solid #d5d7dd;}
.rowgroup3 .notice .notice_control .notice_prev:hover:before{background:url('../img/main/notice_arrow3.png') no-repeat; background-size: cover;}

.rowgroup3 .notice .notice_control .notice_next{position:relative; right:-30px; width:60px; height:60px; border:1px solid #757b8e; border-radius:100px; transition:all 0.3s ease-in-out;}
.rowgroup3 .notice .notice_control .notice_next:before{display:block; position:absolute; top:23px; left:24px; width:12px; height:14px; background:url('../img/main/notice_arrow4.png') no-repeat; background-size:cover; transition:all 0.3s ease-in-out;}
.rowgroup3 .notice .notice_control .notice_next:hover{border:1px solid #d5d7dd;}
.rowgroup3 .notice .notice_control .notice_next:hover:before{background:url('../img/main/notice_arrow2.png') no-repeat; transform:none; background-size: cover;}

.rowgroup3 .notice .notice_more{position:absolute; top:11px; right:18px;}
.rowgroup3 .notice .notice_more .notice_more_btn{position:relative; min-width:219px; padding:12px 48px; border-radius:50px; background-color:#e8f7f0; color:#19a960; font-size:18px; font-family:'Cafe24Ssurround'; text-align:left; line-height:36px; transition:all 0.3s ease-in-out; letter-spacing:0;}
.rowgroup3 .notice .notice_more .notice_more_btn:hover{padding:12px 54px 12px 42px;}
.rowgroup3 .notice .notice_more .notice_more_btn:before{display:block; opacity:0; position:absolute; top:18px; left:174px; width:66px; height:25px; background:url('../img/main/notice_03.png') no-repeat; background-size:cover; transition:all 0.3s; transition-timing-function:ease-in-out;}
.rowgroup3 .notice .notice_more .notice_more_btn:hover:before{opacity:1;}


@media all and (max-width:1300px) {
    /* rowgroup3 */
    .rowgroup3 .notice .notice_top_title .title{font-size: 40px;}
    .rowgroup3 .notice .notice_top_title .sub_title{font-size: 18px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor{width: 400px; height: 350px; padding: 40px 30px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor:before{left: 330px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor:after{top: 336px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_date{font-size: 18px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_title{font-size: 20px; line-height: 28px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_text{font-size: 20px; line-height: 26px;}
    .rowgroup3 .notice .notice_control{width: 130px;}
    .rowgroup3 .notice .notice_control .notice_prev{width: 55px; height: 55px;}
    .rowgroup3 .notice .notice_control .notice_prev:before{left: 20px; top: 20px;}
    .rowgroup3 .notice .notice_control .notice_next{right: -20px; width: 55px; height: 55px;}
    .rowgroup3 .notice .notice_control .notice_next:before{left: 20px; top: 20px;}
    .rowgroup3 .notice .notice_more .notice_more_btn{min-width: 200px; padding: 12px 38.5px;}
    .rowgroup3 .notice .notice_more .notice_more_btn:before{left: 160px;}
    .rowgroup3 .notice .notice_more .notice_more_btn:hover{padding: 12px 50px 12px 27px;}
}
@media all and (max-width:1000px) {
    /* rowgroup3 */
    .rowgroup3 .notice{margin-bottom:100px;}
    .rowgroup3 .notice .notice_top_title{padding-left: 80px;}
    .rowgroup3 .notice .notice_top_title .title{font-size: 34px;}
    .rowgroup3 .notice .notice_top_title:before{top:14px; width:46px; background-size: contain;}
    .rowgroup3 .notice .notice_top_title .sub_title{font-size: 16px;}
    .rowgroup3 .notice .notice_more .notice_more_btn{min-width: 180px; padding: 12px 34.5px; font-size: 16px;}
    .rowgroup3 .notice .notice_more .notice_more_btn:before{left: 140px; width: 50px; height: 19px;}
    .rowgroup3 .notice .notice_more .notice_more_btn:hover{padding: 12px 49px 12px 20px;}

}
@media all and (max-width:800px) {
    /* rowgroup3 */
    .rowgroup3 .notice .notice_top_title .title{font-size: 28px; line-height: 40px;}
    .rowgroup3 .notice .notice_top_title .sub_title{width: 93px; height: 37px; padding-top: 5px;}
    .rowgroup3 .notice .notice_top_title:before{top: -2px;}
    .rowgroup3 .notice .notice_list .notice_item{margin-right: 20px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor{width: 300px; height: 300px; padding: 20px; border-radius: 20px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor:before{left: 240px; top: -12px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor:after{top: 286px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_date{font-size: 16px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_title{font-size: 18px; line-height:24px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_line{margin: 20px 0;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_text{font-size: 18px; line-height: 24px;}
    .rowgroup3 .notice .notice_more{top: -4px;}
    .rowgroup3 .notice .notice_more .notice_more_btn{min-width: auto; padding: 6px 30px;}
    .rowgroup3 .notice .notice_more .notice_more_btn .notice_more_text{display: none;}
    .rowgroup3 .notice .notice_more .notice_more_btn:before{width: 44px; height: 17px; left: 65px; top: 10px;}
    .rowgroup3 .notice .notice_more .notice_more_btn:hover{padding: 6px 44px 6px 16px;}
}
@media all and (max-width:640px) {
    /* rowgroup3 */
    .rowgroup3 .notice{margin-bottom: 18px;}
    .rowgroup3 .notice .notice_top_title{padding-left: 40px;}
    .rowgroup3 .notice .notice_top_title .title{font-size: 16px; line-height: 20px; margin-bottom: 20px;}
    .rowgroup3 .notice .notice_top_title .sub_title{width:66px; height: 26px; font-size: 12px;  font-weight: 500; padding: 0; margin-bottom: 0; font-family: 'Tmoney';}
    .rowgroup3 .notice .notice_top_title:before{left:0; top:-4px; width:30px;}
    .rowgroup3 .notice .notice_list{margin-bottom: 18px; }
    .rowgroup3 .notice .slick-list{overflow: hidden; width: 640px;}
    .rowgroup3 .notice .notice_list .notice_item{margin-right: 5px;}
    .rowgroup3 .notice .notice_list .slick-slide:nth-child(2n){margin-top: 0;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor{width:160px; height: 160px; padding: 14px; border-radius: 10px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor:before{display: none;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor:after{display: none;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_date{font-size: 14px; line-height: 14px; margin-bottom: 6px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_title{font-size: 17px; line-height: 23px; font-family: 'Freesentation';}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_line{margin: 5px 0 12px; height: 1px;}
    .rowgroup3 .notice .notice_list .notice_item .notice_anchor .notice_text{font-size: 16px; line-height: 20px; -webkit-line-clamp:2;}
    .rowgroup3 .notice .notice_more{top: -9px; right: 12px;}
    .rowgroup3 .notice .notice_more .notice_more_btn{font-size: 14px; line-height: 18px; padding: 10px 24.5px 12px;}
    .rowgroup3 .notice .notice_more .notice_more_btn:hover{padding: 10px 37px 12px 12px;}
    .rowgroup3 .notice .notice_more .notice_more_btn:before{left: 57px;}
    .rowgroup3 .notice .notice_control{width: 76px;}
    .rowgroup3 .notice .notice_control .notice_prev{width: 31px; height: 31px;}
    .rowgroup3 .notice .notice_control .notice_prev:before{width: 7px; height: 8px; left: 10px; top: 11px;}
    .rowgroup3 .notice .notice_control .notice_next{width: 31px; height: 31px; right: -14px;}
    .rowgroup3 .notice .notice_control .notice_next:before{width: 7px; height: 8px; left: 11px; top: 11px;}
}

/* rowgroup4 */
.rowgroup4{}
.popup{height:380px; margin-bottom:100px;}
.popup .popup_list{margin-bottom:38px;}
.popup .popup_list .slick-list{overflow:hidden; margin-left: -30px;}

.popup .popup_list .popup_item{margin-left:30px;}
.popup .popup_list .popup_item .popup_anchor{}
.popup .popup_list .popup_item .popup_anchor.n02{position:relative;}
.popup .popup_list .popup_item .popup_anchor.n02:before{display:block; position:absolute; top:-10px; left:442px; z-index:3; width:225px; height:310px; background:url('../img/main/popup_02_img.png');}
.popup .popup_list .popup_item img{border-radius: 0;}

.popup .popup_control{overflow:hidden; width:230px; height:14px; margin:0 auto; text-align:center;}
.popup .popup_control .popup_prev{float:left; position:relative; left:0; width:9px; height:14px; background:url('../img/main/popup_arrow.png') no-repeat; background-size:cover; font-size:0; vertical-align:top;}
.popup .popup_control .popup_next{float:right; position:relative; width:9px; height:14px; background:url('../img/main/popup_arrow2.png') no-repeat; background-size:cover; font-size:0; vertical-align:top;}
.popup .popup_control .popup_dots{display:inline-block; vertical-align:top;}

.popup .popup_control .slick-dots{display:inline-block; position:relative; left:50%; text-align:center; transform:translateX(-50%);}
.popup .popup_control .slick-dots li{display:inline-block;}
.popup .popup_control .slick-dots li button{display:inline-block; width:10px; height:10px; margin:1px 5px 0px; font-size:0; vertical-align:top; cursor:pointer;}
.popup .popup_control .slick-dots li button:before{display:block; position:absolute; width:10px; height:10px; border-radius:30px; background-color:#e3e5e8;}
.popup .popup_control .slick-dots .slick-active button:before{background-color:#26293d;}

@media all and (min-width:1001px){
    .popup .popup_control .popup_next,
    .popup .popup_control .popup_prev{position: absolute; top: -27px; bottom: 0; width: 45px; height: 45px; margin: auto 0; border-radius: 50%;}
    .popup .popup_control .popup_prev{left: -59px; background:#fff url('../img/main/left_arrow.png') no-repeat center;}
    .popup .popup_control .popup_next{right: -59px; background:#fff url('../img/main/right_arrow.png') no-repeat center;}
}
@media (min-width: 1001px) and (max-width:1620px){
    .popup .popup_control .popup_prev{left: -20px;}
    .popup .popup_control .popup_next{right: -20px;}
}
@media (min-width: 1001px) and (max-width:1530px){
    .popup .popup_control .popup_prev{left: -59px; top:0;}
    .popup .popup_control .popup_next{right: -59px; top:0;}
}
@media (min-width: 1001px) and (max-width:1400px){
    .popup .popup_control .popup_prev{left: -20px;}
    .popup .popup_control .popup_next{right: -20px;}
}
@media (min-width: 1001px) and (max-width:1300px){
    .popup .popup_control .popup_prev{left: -59px;}
    .popup .popup_control .popup_next{right: -59px;}
}
@media (min-width: 1001px) and (max-width:1100px){
    .popup .popup_control .popup_prev{left: -20px;}
    .popup .popup_control .popup_next{right: -20px;}
}


@media all and (max-width:1530px){
    /* rowgroup4 */
    .popup{height: 310px;}
    .popup .popup_list .slick-list{padding-top:20px;}
    .popup .popup_list .popup_item{width:634px !important; height: 264px; position:relative;}
    .popup .popup_list .popup_item .popup_anchor.n02:before{left: 370px; top: -8px; width: 190px; height: 261px; background-size: cover;}
}

@media all and (max-width:1300px){
    /* rowgroup4 */
    .popup{height: 270px;}
    .popup .popup_list .slick-list{width:auto;}
    .popup .popup_list .popup_item{width:485px !important; height: 202px;}
    .popup .popup_list .popup_item .popup_anchor.n02:before{left: 280px; top: -10px; width: 150px; height: 207px;}
}

@media all and (max-width:1000px){
    /* rowgroup4 */
    .popup{height: 315px;}
    .popup .popup_list .slick-list{padding:0 !important; margin-left: 0; text-align: center;}
    .popup .popup_list .popup_item{width:auto !important; height: auto; margin-left: 0;}
    .popup .popup_list .popup_item .popup_anchor.n02:before{left: 360px; top: -9px; width: 180px; height: 248px;}
}


@media all and (max-width:640px){
    .popup{height: auto; margin-bottom: 40px;}
    .popup .popup_list{margin-bottom: 20px;}
    .popup .popup_list .slick-list{padding:10px 0 0 !important;}
    .popup .popup_list .popup_item .popup_anchor.n02:before{left: 195px; top: -5px; width: 100px; height: 138px;}
    .popup .popup_control{width: 208px;}
}