@charset "UTF-8";

@import url('../../../common/css/board.css');
@import url('../../../common/css/program.css');
@import url('default.css');
@import url('layout.css');
@import url('common.css');
@import url('sub_layout.css?20250611');
@import url('template.css');
@import url('program.css');
@import url('sub_content.css');
/*@import url('program.css');
@import url('sub_content.css');*/