@charset "UTF-8";

/* 탭메뉴 공통*/
.tab+.tab{margin-top:60px}

/* cms 탭메뉴 */
.cms_tab{position:relative; z-index:50; margin-bottom:46px; font-size: 0; line-height: 0}
@media all and (max-width:640px){
    .tab+.tab{margin-top:30px}
    .tab .tab_button{font-size:14px; line-height:22px}

    .cms_tab{margin-bottom:30px}
    .cms_tab .tab .tab_list{display:block; width:100%; margin-left:0; margin-right:0}
    .cms_tab .tab .tab_select{display:block; position:relative; z-index:1; width:100%; padding:13px 30px 13px 20px; border:1px solid #000; border-radius:7px; background-color:#000; color:#fff; font-size:14px; text-align:left; line-height:16px; transition:border-radius .25s ease-in-out}
    .tab .tab_select{display:block;}
    .cms_tab .tab.active .tab_select{border-radius:7px 7px 0 0}
    .cms_tab .tab .tab_select:before{display:block; position:absolute; top:17px; right:19px; width:10px; height:6px; background:url(/site/publ../img/common/m_depth1_arrow.svg) no-repeat center / 10px auto; transition:transform .2s ease-in-out}
    .cms_tab .tab.active .tab_select:before{transform:rotate(180deg)}

    .cms_tab .tab .tab_panel{opacity:0; visibility:hidden; position:absolute; top:0; left:0; right:0; padding:0 1px 1px; border-radius:0 0 7px 7px; transition-property:opacity,visibility,top; transition-duration:.25s; transition-timing-function:ease-in-out}
    .cms_tab .tab .tab_list{margin-top:0; padding-bottom:10px}
    .cms_tab .tab .tab_item{display:block; position:relative; width:100%; max-width:100%; margin-top:0; margin-left:0; padding:0; border-radius:0; border-top:0;  text-align:left}
    .cms_tab .tab .tab_item:last-child{border-radius:0 0 7px 7px}
    .cms_tab .tab .tab_item:last-child:before{border-radius:0 0 7px 7px}
    .cms_tab .tab .tab_item:nth-child(n + 5){margin-top:0}
    .cms_tab .tab .tab_button{height:auto; padding:7px 15px 7px 20px; font-size:14px; text-align:left; line-height:16px}
    .cms_tab .tab .tab_button:hover{color:#4d4d4d}

    .cms_tab .tab.active .tab_panel{z-index:5; opacity:1; visibility:inherit; top:100%}
    .cms_tab .tab .tab_item.active .tab_button{color:#404040}
    .cms_tab .tab .tab_item .tab_button:before{top:16px; left:12px; width:4px; height:4px; border-radius:50%; background:#969696}
    .cms_tab .tab .tab_item.active .tab_button:before{background:linear-gradient(135deg,  rgba(0,137,200,1) 25%,rgba(77,184,72,1) 65%,rgba(185,213,49,1) 90%)}
}

/* 탭메뉴 */
.tab .tab_panel{display:block; position:relative; width:100%; padding:1px; border-radius:7px; background-origin:border-box; background-image:linear-gradient(#fff, #fff), linear-gradient(to right,  rgba(0,137,200,1) 25%,rgba(77,184,72,1) 65%,rgba(185,213,49,1) 90%); background-clip:content-box, border-box; box-sizing:border-box; font-size:0; line-height:0}
.tab .tab_select{display:none; font-size:0; line-height:0}
.tab .tab_list{display:block; font-size:0; line-height:0; text-align:center}
.tab .tab_item{display:inline-block; position:relative; max-width:150px; margin-right:25px; margin-left:25px; vertical-align:top}
.tab .tab_button{display:block; position:relative; width:100%; height:65px; color:#969696; font-size:18px; line-height:22px; letter-spacing:-0.025em; word-break:keep-all}
.tab .tab_item .tab_button:before{display:block; position:absolute; bottom:0; left:0; width:100%; height:0; background:linear-gradient(135deg,  rgba(0,137,200,1) 25%,rgba(77,184,72,1) 65%,rgba(185,213,49,1) 90%); transition-property:height; transition-duration:0s; transition-timing-function:linear}
.tab .tab_button:after{display:inline-block; height:100%; vertical-align:middle; content:''}
.tab .tab_button span{display:inline-block; vertical-align:middle; word-break:break-all}
.tab .tab_item:hover .tab_button{color:#404040}
.tab .tab_item.active .tab_button{position:relative; color:#404040; font-weight:500}
.tab .tab_item.active .tab_button:before{height:4px; transition-duration:0.1s}
.tab .tab_content{display:none; margin-top:40px}
.tab .tab_content.active{display:block}

/* type2 */
.tab.type2 .tab_list{overflow:hidden}
.tab.type2 .tab_depth6{display:none; overflow:hidden; position:relative; border-radius:0 0 8px 8px; text-align:center}
.tab.type2 .tab_depth6:before{display:block; position:absolute; top:0; bottom:0; left:50%; width:1068px; background-color:#fafafa; transform:translateX(-50%)}
.tab.type2 .tab_item.active .tab_depth6{display:block; padding:15px 0}
.tab.type2 .tab_item.active .tab_depth6_item{display:inline-block; margin-right:15px; margin-left:15px}
.tab.type2 .tab_item.active .tab_depth6_anchor{display:block; position:relative; height:35px; padding-left:10px; color:#636363; font-size:17px; line-height:23px; vertical-align:middle}
.tab.type2 .tab_item.active .tab_depth6_anchor:before{display:block; position:absolute; top:18px; left:0; width:4px; height:4px; border-radius:50%; background-color:#636363}
.tab.type2 .tab_item.active .tab_depth6_anchor:after{display:inline-block; height:100%; vertical-align:middle}
.tab.type2 .tab_item.active .tab_depth6_anchor span{display:inline-block; vertical-align:middle}
.tab.type2 .tab_item.active .tab_depth6_item.active .tab_depth6_anchor{color:#0098d9}
.tab.type2 .tab_item.active .tab_depth6_item.active .tab_depth6_anchor:before{background-color:#0098d9}
@media all and (max-width:1400px){
    .tab .tab_item{max-width:120px; margin-right:12px; margin-left:12px}
    .tab .tab_button{font-size:16px; line-height:20px}
    .tab.type2 .tab_item.active .tab_depth6_anchor{height:28px; font-size:15px; line-height:18px}
    .tab.type2 .tab_item.active .tab_depth6_anchor:before{top:12px}
}
@media all and (max-width:1000px){
    .tab .tab_item{max-width:140px}
}
@media all and (max-width:800px){
    .tab .tab_item{margin-right:5px; margin-left:5px}
}
@media all and (max-width:640px){
    .tab .tab_list{margin-top:-4px}
    .tab .tab_item{width:100px; margin-top:4px}
    .tab .tab_button{height:48px; font-size:14px; line-height:17px}
    .tab .tab_button span{word-break:break-all}
    .cms_tab .tab.type2 .tab_item.active .tab_depth6_item{display:block; width:100%; text-align:left}
    .tab.type2 .tab_item.active .tab_depth6_anchor{height:22px; font-size:13px; line-height:17px}
    .tab.type2 .tab_item.active .tab_depth6_anchor:before{top:9px}
    .tab .tab_content{margin-top:25px}
    .cms_tab .tab.type2 .tab_item.active .tab_depth6_item .tab_depth6_anchor{padding-left:24px}
    .cms_tab .tab.type2 .tab_item.active .tab_depth6_item .tab_depth6_anchor:before{top:11px; left:10px; height:1px; border-radius:0}
}

/* 제목 */
h3,h4,h5,h6{position:relative}
h3{margin-top:43px; margin-bottom:30px; color:#1a1a1a; font-size:35px; line-height:35px; font-weight:700;}
h3:first-child{margin-top:0}
h3 span{font-size:20px}
h3 + .bu{margin-top: 35px;}
h4{margin-top:35px; margin-bottom:12px; color:#26293d; font-size:25px; line-height:25px; font-weight:700;}
h3 + h4{margin-top:15px}
h4 span{font-size:18px}
h5{margin-top:25px; margin-bottom:12px; color:#26293d; font-size:22px; line-height:22px; font-weight:400;}
h4 + h5{margin-top:24px}
@media all and (max-width:640px){
    h3{margin-top:25px; margin-bottom:6px; font-size:22px; line-height:26px}
    h3 + .bu{margin-top:15px;}
    h4{margin-top:20px; margin-bottom:6px; font-size:20px; line-height:26px}
    h3 + h4{margin-top:10px}
    h5{margin-top:15px; margin-bottom:6px; font-size:18px; line-height:26px}
    h4 + h5{margin-top:10px}
}

/* 텍스트 버튼 */
.text_btn{display:inline-block; position:relative; margin-right:5px; margin-left:5px; padding-bottom:2px; padding-right:17px}
.text_btn:before{display:block; position:absolute; bottom:-1px; left:0; width:calc(100% - 20px); height:1px; background:#404040}
.text_btn:after{display:block; position:absolute; right:0; background-repeat:no-repeat; background-size:cover}
.text_btn.blank:after{top:8px; width:12px; height:12px; background-image:url(/site/publ../img/template/blank1.svg)}
.text_btn.down:after{top:7px; width:12px; height:13px; background-image:url(/site/publ../img/template/down1.svg)}
ul .text_btn.blank:after{top:4px;}
ul .text_btn.down:after{top:3px}
@media all and (max-width:640px){
    .text_btn.blank:after{top:5px}
    .text_btn.down:after{top:4px}
    ul .text_btn.blank:after{top:2px;}
    ul .text_btn.down:after{top:1px}
}

/* 강조글씨 */
.em_point1{color:#4c65d9 !important; line-height:30px}
.em_point2{color:#0da98f !important; line-height:30px}
.em_point3{color:#dd496c !important; line-height:30px}
@media all and (max-width:640px){
    .em_point1,
    .em_point2,
    .em_point3{line-height:22px}
}

/* 비순차 목록(기본) */
.bu{margin-top:20px; margin-bottom:15px; font-size:0; line-height:0}
.bu li{padding-left:20px; position:relative; color:#26293d; font-size: 22px; line-height:25px;}
.bu > li+li{margin-top:5px}
.bu li:before{display:block; position:absolute; top:12px; left:0; width:5px; height:5px; border-radius:50px; background:#757b8e;}


/* 비순차 목록(타이틀) */
.dl li+li{margin-top:5px}
.dl li span{font-size:22px; line-height:25px;}
.dl .dt{display:inline; font-weight:600;}
.dl .dd{display:inline; position:relative; margin-left:8px;}

/* 순차 목록 */
.num{overflow:visible; margin-top:20px; margin-bottom:15px; counter-reset:index}
.num ::marker{color:transparent; font-size:0; line-height:0}
.num li{position:relative; padding-left:35px; color:#404040; font-size:22px; line-height:25px; letter-spacing:-0.035em}
.num > li:not(:last-child){margin-bottom:5px;}
.num li:before{display:block; position:absolute; top:2px; left:0; width:22px; height:22px; border-radius:50px; border: 1px solid #d6d8de; text-align:center; color:#4a4f66; font-weight:700; font-size:12px; line-height:21px; letter-spacing:-0.05em; counter-increment:index; content:counter(index); box-sizing: border-box;}
.num > li:before{content:counter(index)}
@media all and (max-width:640px){
    .bu{margin-top:10px; margin-bottom:10px;}
    .bu li{padding-left:11px; font-size:16px; line-height:20px;}
    .bu li:before{top:7px; width: 4px; height: 4px;}


    .dl li span{font-size:16px; line-height:20px;}
    .dl .dd:before{top:5px}

    .num{margin-top:10px; margin-bottom:10px}
    .num li{padding-left:27px; font-size:16px; line-height:20px;}
    .num li:before{top:0; width: 20px; height: 20px; font-size: 10px; line-height: 20px;}
    .num > li:not(:last-child){margin-bottom:8px}
}

/* 주의, 경고 */
.warning{position:relative; padding-left:34px; color:#4c65d9; font-weight:400; font-size:22px; line-height:22px; letter-spacing:0;}
.warning:before{display: block; position: absolute; top: 0; left: 0; width: 22px; height: 22px; background: url("../img/template/warning_icon.png") no-repeat;}
@media all and (max-width:640px){
    .warning{padding-left:25px; font-size: 16px; line-height: 20px;}
    .warning:before{top:1px; width:18px; height:18px; background-size: contain;}
}


/* 타이틀 박스 */
.title_box{position:relative; margin-bottom:80px;}
.title_box:before{display:block; position:absolute; top:40px; left:60px; z-index:1; width:130px; height:130px; border-radius:50px; box-shadow:11px 17px 30px 0 rgba(76,101,217,0.1);  background:#fff url('../img/template/title_box01.png') no-repeat left 8px top -2px;}
.title_box.n2:before{background-image:url('../img/template/title_box02.png');}
.title_box.n3:before{background-image:url('../img/template/title_box03.png'); background-position: left 8px top 6px;}
.title_box.n4:before{background-image:url('../img/template/title_box04.png'); background-position: left 6px top 7px;}
.title_box .box_wrap{position:relative; min-height:220px; padding:69px 65px 44px 249px; border-radius:35px 35px 35px 80px; background:url("../img/template/pattern_bg01.png");}
.title_box .box_title{margin-top:0; margin-bottom:25px; font-family: 'Tmoney'; color:#3f65d9; font-weight:700; font-size:30px; line-height:30px; letter-spacing: -0.04em;}
.title_box p{color:#26293d; line-height:30px; letter-spacing:0; word-break: keep-all;}
.title_box p + p{margin-top: 32px;}

@media all and (max-width:1300px){
    .title_box .box_wrap{padding-top: 50px;}
}
@media all and (max-width:1000px){
    .title_box{margin-bottom: 50px;}
    .title_box:before{top:30px; left: 30px;}
    .title_box .box_wrap{padding:40px 34px 32px 190px;}
    .title_box .box_title{font-size: 25px; line-height: 25px;}

}
@media all and (max-width:640px){
    .title_box{margin-bottom: 30px;}
    .title_box:before{display:none}
    .title_box .box_wrap{min-height:auto; padding:20px 25px 26px; border-radius: 20px 20px 20px 50px;}
    .title_box .box_title{margin-bottom:14px; font-size:18px; line-height:23px}
    .title_box p{line-height:22px;}
    .title_box p + p{margin-top: 20px;}
}

/* 안내,전화번호 */
p.caution_call{position: relative; padding-left: 42px; color: #388be4; word-break: keep-all;}
p + .caution_call{margin-top: 19px; margin-bottom: 25px;}
p.caution_call span{position: relative;}
p.caution_call span:before{display: block; position: absolute; left: 0; bottom: 0; width: 100%; height: 2px; background-color: #97c0f1;}
.caution_call:before{display: block; position: absolute; top: 0; left: 0; width: 31px; height: 31px; background: url("../img/template/call_icon.png") no-repeat; background-size: contain;}

@media all and (max-width: 640px) {
    p + .caution_call{margin-bottom: 10px;}
    p.caution_call{padding-left: 32px;}
    .caution_call:before{width: 23px; height: 23px;}
}


/* 박스 */
.box{display: block; position: relative; padding:29px; border-radius: 30px; border: 1px solid #d5d7dd; font-size: 0; line-height: 0;}
.box.color{border-color: #f7f7fc; background-color: #f7f7fc;}
@media all and (max-width: 1000px) {
    .box{padding: 20px;}
}

/* 테이블 */
.table.fixed{table-layout:fixed}
.table.break td,.table.break th{word-break:break-all}
.table_unit{text-align:right}
.table_unit span{position:relative; padding-left:26px; color:#636363; font-weight:200; font-size:16px; line-height:21px; letter-spacing:-0.025em}
.table_unit span:before{display:block; position:absolute; top:3px; left:0; width:18px; height:21px; border-radius:5px; background-image:url(/site/publ../img/template/caution1.svg); background-repeat:no-repeat}

.table{width:100%; margin-top:15px; margin-bottom:10px; background-color:#fff; border-top:2px solid #757b8e; border-bottom:1px solid #d5d7dd; text-align:center}
.table td,.table th{border-width:1px; border-style:solid; color:#404040; font-size:20px; line-height:24px; letter-spacing:-0.025em; word-break:keep-all}
.table th{height:49px; padding:5px 10px; font-weight:500; background-color:#f9f9f9}
.table td{height:50px; padding:5px 10px; border-bottom-width:0; border-color:#e6e6e6; color: #4a4f66; text-align:center}
.table th:first-child,
.table td:first-child{border-left-width:0}
.table th:last-child,
.table td:last-child{border-right-width:0}
.table thead th{border-color:#e3e5e8; color:#26293d; background-color:#f4f4f9; font-weight: 600;}
.table thead tr+tr th{position:relative; border-left-width:1px; background-color:#f9f9f9; color:#404040; font-weight:400}
.table thead tr+tr th:first-child{border-left-width:1px}
.table tbody th{border-bottom-width:0; border-color:#e6e6e6; font-weight:400}
.table tbody th+td{border-left-color:#e6e6e6}
.table .caution{text-align:left}

/* 세로형 테이블 */
.table.type2 tbody th{border-color:#ccc; background-color:#f2f2f2}
.table.type2 td{text-align:left}

/* 테이블 내 리스트 */
.table .bu{text-align:left}

.table .caution{margin-top:0}

@media all and (max-width:640px){
    .table_unit span{padding-left:22px; font-size:14px; line-height:19px}
    .table td,.table th{font-size:15px; line-height:21px}
    .table th{height:45px}
    .table td{height:46px}
}
/* 스크롤 테이블 */
@media all and (max-width:800px){
    .table_scroll{position:relative; max-width:100%; overflow-x:auto}
    .table_scroll table{min-width:800px}
}

/* 반응형 테이블
@media all and (max-width:640px){
    .table.responsive colgroup,.table.responsive thead{display:none}
    .table.responsive tbody tr{display:block; position:relative; padding-top:10px; padding-bottom:10px}
    .table.responsive tbody tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0}
    .table.responsive tbody tr+tr{border-top:1px solid #e6e6e6}
    .table.responsive tbody td,.table.responsive tbody th{display:block; width:100%; height:auto; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:top}
    .table.responsive tbody td:before,.table.responsive tbody th:before{display:inline; font-weight:500; content:attr(data-content) " :"}
    .table.responsive tfoot tr{display:block; position:relative; padding-top:10px; padding-bottom:10px}
    .table.responsive tfoot tr:after{display:block; clear:both; content:"."; visibility:hidden; height:0}
    .table.responsive tfoot tr:nth-child(odd){background:#f9f9f9}
    .table.responsive tfoot tr+tr{border-top:1px solid #ccc}
    .table.responsive tfoot td,.table.responsive tfoot th{display:block; width:100%; height:auto; padding:4px 3%; border:none; background-color:transparent; text-align:left; vertical-align:top}
    .table.responsive tfoot td:before,.table.responsive tfoot th:before{display:inline; content:attr(data-content) " :"}
}*/

/* 버튼 */
.btn{display:inline-block; position:relative; margin-top:2px; margin-bottom:2px; padding:15px; border:1px solid #d5d7dd; border-radius:10px; background:#fff; color:#4a4f66; text-align:center; font-weight:400; font-size:18px; line-height:21px; vertical-align:top; transition-property:background; transition-duration:0.3s}
.btn + .btn{margin-left:2px}

/* 버튼 .type2*/
.btn.type2{border-color:#4c65d9; background:#4c65d9; color:#fff;}

/* 작은 버튼 */
.btn.small{padding:6px 11px 7px 11px; font-size:15px; line-height:20px}

@media all and (min-width:641px){
    /* hover */
    .btn:hover{background:#d5d7dd; color: #000;}
    .btn.type2:hover{background:#0a1e7a; border-color:#0a1e7a; color: #fff;}
}
@media all and (max-width:640px){
    .btn{padding:6px 11px 8px; font-size:16px; line-height:21px}

    .btn.small{padding:5px 6px 5px 4px; font-size:14px; line-height:19px}

}

/* 아코디언 */
.accordion{display:block; margin-top:20px; margin-bottom:50px; border:1px solid #e6e6e6; border-radius:7px;}
.accordion .accordion_list{}
.accordion .accordion_item{display:block; position:relative; border-bottom:1px solid #e6e6e6;}
.accordion .accordion_item:last-child{border-bottom-width:0;}

.accordion .accordion_header{position:relative}
.accordion .accordion_header .accordion_button{display:block; width:100%; padding:19px 40px 17px 27px; box-sizing:border-box; text-align:left;}
.accordion .accordion_header .accordion_button:after{display:inline-block;position:absolute;left:inherit;right:25px;top:26px;bottom:inherit; width:18px; height:10px; background:url('/site/publ../img/board/faq_arrow1.png') no-repeat 0 0 / cover; transform:translateY(0);}
.accordion .accordion_header .accordion_title{display:inline-block; padding-right:20px; font-size:17px; line-height:20px; letter-spacing:-0.02em; color:#404040; font-weight:200;}

.accordion .accordion_body{display:none;position:relative;padding:0 27px 33px;background:#fafafa;}
.accordion .accordion_body:after{display:table;clear:both}
.accordion .accordion_body .accordion_content{color:#4d4d4d; font-size:17px; line-height:26px; font-weight:200;}
/* active */
.accordion .accordion_item.active{border:1px solid #8c8c8c;}
.accordion .accordion_item:first-child,
.accordion .accordion_item:first-child .accordion_header{border-radius:7px 7px 0 0}
.accordion .accordion_item:last-child,
.accordion .accordion_item:last-child .accordion_body{border-radius:0 0 7px 7px;}
.accordion .accordion_item.active .accordion_header{background:#fafafa}
.accordion .accordion_item.active .accordion_header .accordion_button{padding-bottom:16px}
.accordion .accordion_item.active .accordion_header .accordion_button:after{background:url('/site/publ../img/board/faq_arrow2.png') no-repeat 0 0 / cover; transform:translateY(0);}
.accordion .accordion_item.active .accordion_header .accordion_title{color:#000; font-weight:500;}
.accordion.icon .accordion_item.active .accordion_header .accordion_title{color:#000; font-weight:500; background:#fff}
.accordion .accordion_item.active .accordion_body{display:block;}
/* 아이콘 추가 */
.accordion.icon .accordion_item.active .accordion_header{background:#fff}
.accordion.icon .accordion_header .accordion_button{padding-left:70px}
.accordion.icon .accordion_body{padding-top:20px; padding-left:70px;}
.accordion.icon .accordion_header .accordion_icon,
.accordion.icon .accordion_body .accordion_icon{display:block; position:absolute; left:21px; width:33px; height:33px; background-image:url(/site/publ../img/sprite/board_template.png); background-repeat:no-repeat; background-size:775.758%; font-size:0; line-height:0; vertical-align:middle}
.accordion.icon .accordion_header .accordion_icon{top:14px; background-position:3.58744% 25.1121%; }
.accordion.icon .accordion_item.active .accordion_header .accordion_icon{top:14px; background-position:21.9731% 25.1121%;}
.accordion.icon .accordion_body .accordion_icon{top:17px; background-position:40.3587% 25.1121%;}
@media all and (max-width:640px) {
    .accordion .accordion_button:after{right:15px; width:14px; height:8px;}
    .accordion.icon .accordion_header .accordion_button,
    .accordion.icon .accordion_body{padding-left:55px;}
    .accordion.icon .accordion_header .accordion_icon,
    .accordion.icon .accordion_body .accordion_icon{top:17px; left:12px; width:30px; height:30px}

    .accordion .accordion_header .accordion_button{padding:19px 40px 17px 27px}
    .accordion .accordion_header .accordion_title{font-size:15px; line-height:20px;}
    .accordion .accordion_body .accordion_content{font-size:15px; line-height:24px}
}


/* 정렬 */
.text_center{text-align:center!important}
.text_right{text-align:right!important}
.text_left{text-align:left!important}

/* margin */
.margin_0{margin:0!important}
.margin_10{margin:10px!important}
.margin_20{margin:20px!important}
.margin_30{margin:30px!important}
.margin_t_0{margin-top:0 !important}
.margin_t_5{margin-top:5px !important}
.margin_t_10{margin-top:10px !important}
.margin_t_15{margin-top:15px !important}
.margin_t_20{margin-top:20px !important}
.margin_t_25{margin-top:25px !important}
.margin_t_30{margin-top:30px !important}
.margin_t_35{margin-top:35px !important}
.margin_t_40{margin-top:40px !important}
.margin_t_45{margin-top:45px !important}
.margin_t_50{margin-top:50px !important}
.margin_t_60{margin-top:60px !important}
.mt0{margin-top:0!important}
.mt5{margin-top:5px!important}
.mt10{margin-top:10px!important}
.mt15{margin-top:15px!important}
.mt20{margin-top:20px!important}
.mt25{margin-top:25px!important}
.mt30{margin-top:30px!important}
.mt35{margin-top:35px!important}
.mt40{margin-top:40px!important}
.mt45{margin-top:45px!important}
.mt50{margin-top:50px!important}
.mt60{margin-top:60px!important}
.mr0{margin-right:0!important}
.mr5{margin-right:5px!important}
.mr10{margin-right:10px!important}
.mr15{margin-right:15px!important}
.mr20{margin-right:20px!important}
.mr25{margin-right:25px!important}
.mr30{margin-right:30px!important}
.mr35{margin-right:35px!important}
.mr40{margin-right:40px!important}
.mr45{margin-right:45px!important}
.mr50{margin-right:50px!important}
.mr55{margin-right:55px!important}
.mr60{margin-right:60px!important}
.mb0{margin-bottom:0!important}
.mb5{margin-bottom:5px!important}
.mb10{margin-bottom:10px!important}
.mb15{margin-bottom:15px!important}
.mb20{margin-bottom:20px!important}
.mb25{margin-bottom:25px!important}
.mb30{margin-bottom:30px!important}
.mb35{margin-bottom:35px!important}
.mb40{margin-bottom:40px!important}
.mb45{margin-bottom:45px!important}
.mb50{margin-bottom:50px!important}
.mb55{margin-bottom:55px!important}
.mb60{margin-bottom:60px!important}
.ml0{margin-left:0!important}
.ml5{margin-left:5px!important}
.ml10{margin-left:10px!important}
.ml15{margin-left:15px!important}
.ml20{margin-left:20px!important}
.ml25{margin-left:25px!important}
.ml30{margin-left:30px!important}
.ml35{margin-left:35px!important}
.ml40{margin-left:40px!important}
.ml45{margin-left:45px!important}
.ml50{margin-left:50px!important}

/* padding */
.padding_0{padding:0!important}
.padding_10{padding:10px!important}
.padding_20{padding:20px!important}
.padding_30{padding:30px!important}
.padding_40{padding:40px!important}
.pt0{padding-top:0!important}
.pt5{padding-top:5px!important}
.pt10{padding-top:10px!important}
.pt15{padding-top:15px!important}
.pt20{padding-top:20px!important}
.pt25{padding-top:25px!important}
.pt30{padding-top:30px!important}
.pt35{padding-top:35px!important}
.pt40{padding-top:40px!important}
.pt45{padding-top:45px!important}
.pt50{padding-top:50px!important}
.pt60{padding-top:60px!important}
.pr0{padding-right:0!important}
.pr5{padding-right:5px!important}
.pr10{padding-right:10px!important}
.pr15{padding-right:15px!important}
.pr20{padding-right:20px!important}
.pr25{padding-right:25px!important}
.pr30{padding-right:30px!important}
.pr35{padding-right:35px!important}
.pr40{padding-right:40px!important}
.pr45{padding-right:45px!important}
.pr50{padding-right:50px!important}
.pb0{padding-bottom:0!important}
.pb5{padding-bottom:5px!important}
.pb10{padding-bottom:10px!important}
.pb15{padding-bottom:15px!important}
.pb20{padding-bottom:20px!important}
.pb25{padding-bottom:25px!important}
.pb30{padding-bottom:30px!important}
.pb35{padding-bottom:35px!important}
.pb40{padding-bottom:40px!important}
.pb45{padding-bottom:45px!important}
.pb50{padding-bottom:50px!important}
.pl0{padding-left:0!important}
.pl5{padding-left:5px!important}
.pl10{padding-left:10px!important}
.pl15{padding-left:15px!important}
.pl20{padding-left:20px!important}
.pl25{padding-left:25px!important}
.pl30{padding-left:30px!important}
.pl35{padding-left:35px!important}
.pl40{padding-left:40px!important}
.pl45{padding-left:45px!important}
.pl50{padding-left:50px!important}

/* 퍼센트 넓이 */
.w5p{width:5%!important}
.w10p{width:10%!important}
.w15p{width:15%!important}
.w20p{width:20%!important}
.w25p{width:25%!important}
.w30p{width:30%!important}
.w35p{width:35%!important}
.w40p{width:40%!important}
.w45p{width:45%!important}
.w50p{width:50%!important}
.w55p{width:55%!important}
.w60p{width:60%!important}
.w65p{width:65%!important}
.w70p{width:70%!important}
.w75p{width:75%!important}
.w80p{width:80%!important}
.w85p{width:85%!important}
.w90p{width:90%!important}
.w95p{width:95%!important}
.w100p{width:100%!important}
@media all and (max-width:765px){
    .w-sm-5p{width:5%!important}
    .w-sm-10p{width:10%!important}
    .w-sm-15p{width:15%!important}
    .w-sm-20p{width:20%!important}
}



/* 지도 api */
.box.map:first-child{margin-top:0;}
.box.map{position:relative; padding:0; border-radius:7px}
.box.map .root_daum_roughmap{width:100%; height:413px; border-radius:7px}
.box.map .root_daum_roughmap .wrap_map{height:100%}
.box.map .root_daum_roughmap .wrap_map .roughmap_maker_label{padding:11px 16px 10px 15px; border-radius:30px; background-color:#404040; border:none;}
.box.map .root_daum_roughmap .wrap_map .roughmap_maker_label .roughmap_lebel_text{padding:0; background-color:transparent; color:#fff; font-size:15px; line-height:17px; font-weight:300;}
.box.map .root_daum_roughmap .border1,
.box.map .root_daum_roughmap_landing .border3,
.box.map .root_daum_roughmap_landing .border4{border:none; background-color:transparent;}
.box.map + .emphasis{margin-top:10px; margin-bottom:10px;}
.emphasis + .box.traffic{margin-top:0;}
@media all and (max-width:640px){
    .box.map .root_daum_roughmap{height:280px}
}

