<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.usr.reservation.service.impl.UserReservationMapper">

	<sql id="selectSearchWhere">
		<if test="searchSgrCd != null and !searchSgrCd != '' ">
			AND SS.SGR_CD = #{searchSgrCd}
		</if>
		<if test="(searchCateCdList == null or searchCateCdList.size() == 0)
		          and searchCateCd != null and searchCateCd != ''">
		  	AND SS.CATE_CD = #{searchCateCd}
		</if>
		
		<if test="searchCateCdList != null and searchCateCdList.size() > 0">
		  AND SS.CATE_CD IN
		  <foreach collection="searchCateCdList"
		           item="cd"
		           open="("
		           separator=","
		           close=")">
		    #{cd}
		  </foreach>
		</if>
		<if test="searchKeyword != null and searchKeyword != '' ">
			AND SS.SUBJ_NM LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchEduTarget != null and searchEduTarget != '' ">
			 AND (
			        <foreach collection="searchEduTarget.split(',')" item="target" separator=" OR ">
			            FIND_IN_SET(#{target}, SS.EDU_TARGET) > 0
			        </foreach>
			    )
		</if>
		<if test="searchEduPlace != null and searchEduPlace != '' ">
			<if test="searchEduPlace == 'east' ">
				AND CC.COM_TITLE LIKE CONCAT('%', '동부권', '%')
			</if>
			<if test="searchEduPlace == 'west' ">
				AND CC.COM_TITLE LIKE CONCAT('%', '서부권', '%')
			</if>
		</if>
		<if test="searchStatus != null and searchStatus != '' ">
			<!-- <choose>
				<when test="searchStatus == 'ing' ">AND NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT</when>
				<when test="searchStatus == 'be' ">AND NOW() <![CDATA[ < ]]> SS.ENROLL_START_DT</when>
				<otherwise> AND NOW() > SS.ENROLL_END_DT</otherwise>
			</choose> -->
			
			<choose>
		        <when test="searchStatus == 'be' ">
		            AND NOW() <![CDATA[ < ]]> SS.ENROLL_START_DT
		        </when>
		        <when test="searchStatus == 'ing' ">
		            AND NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT
		            AND (
		                SS.CAPACITY > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
		                OR 
		                (
		                    SS.CAPACITY <![CDATA[ <= ]]> (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
		                    AND SS.WAIT_ENROLL_CNT > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'A')
		                )
		            )
		        </when>
		        <otherwise>
		            AND (
		                NOW() > SS.ENROLL_END_DT
		                OR (
		                    NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT
		                    AND SS.CAPACITY <![CDATA[ <= ]]> (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
		                    AND SS.WAIT_ENROLL_CNT <![CDATA[ <= ]]> (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'A')
		                )
		            )
		        </otherwise>
    		</choose>
		</if>
		
		<if test="searchLearnDt != null and searchLearnDt != '' ">
			<!-- AND CAST(#{searchLearnDt} AS DATE) BETWEEN CAST(SS.LEARN_START_DT AS DATE) AND CAST(SS.LEARN_END_DT AS DATE) -->
			<![CDATA[
			AND (
				    DATE_FORMAT(SS.LEARN_START_DT, '%Y-%m')
				        <= #{searchLearnDt}
				AND DATE_FORMAT(SS.LEARN_END_DT, '%Y-%m')
				        >= #{searchLearnDt}
				)
			]]>
		</if>
		
		<if test="searchScheduleDt != null and searchScheduleDt != ''">
		  <![CDATA[
		    AND SS.LEARN_START_DT <  DATE_ADD(CONCAT(#{searchScheduleDt}, '-01'), INTERVAL 1 MONTH)
		    AND SS.LEARN_END_DT   >= CONCAT(#{searchScheduleDt}, '-01')
		  ]]>
		</if>
	</sql>

	<select id="selectReservationList" parameterType="UserReservationVO" resultType="UserReservationVO">
		<include refid="kr.co.gocle.include.paging-start" />
		SELECT
			CP.PG_ID,
			CP.PG_TYPE,
			CP.PG_NAME,
			CP.PG_TARGET,
			CP.PG_ITEM,
			CP.DURATION,
			CP.CAPACITY,
			CP.LOCATION,
				(
				  SELECT GROUP_CONCAT(
				           FN_GET_CODE_NAME(
				             CASE CP.PG_CODE
				               WHEN 'FOREST_INT' THEN 'GEN_PLACE'
				               WHEN 'CHILD_REG'  THEN 'KIND_PLACE'
				               ELSE CONCAT(SUBSTRING_INDEX(CP.PG_TARGET,'_',1), '_PLACE')
				             END,
				             TRIM(t.val)
				           ) SEPARATOR ', '
				         )
				  FROM JSON_TABLE(
				         CONCAT('["', REPLACE(CP.LOCATION, ',', '","'), '"]'),
				         '$[*]' COLUMNS(val VARCHAR(50) PATH '$')
				       ) t
				) AS LOCATION_NM,
			CP.INSTRUCTOR_NAME,
			CP.CONTACT,
			CP.START_DATE,
			CP.END_DATE,
			CP.REG_OPEN_DATE,
			CP.REG_CLOSE_DATE,
			CP.STATUS,
			CP.CLASS_TYPE,
			CP.REG_DT,
			(SELECT AF.SAVE_FILE_NAME
				FROM ATCH_FILE AF
				WHERE AF.P_ID = CP.PG_ID
				AND AF.THUMBNAIL_CROP = 'Y'
				AND AF.DELETE_YN = 'N'
			) AS PG_THUMB_PATH,
			CP.PG_CODE,
			FN_GET_CODE_NAME('FOREST_EDU_CATE', CP.PG_CODE) AS PG_CODE_NM
		FROM COM_PROGRAM CP
		WHERE CP.PG_TYPE = #{pgType}
			AND CP.DELETE_YN = 'N'
		<if test="classType != null and classType != ''">
			AND CP.CLASS_TYPE = #{classType}
		</if>
		<if test="pgCode != null and pgCode != ''">
			AND CP.PG_CODE = #{pgCode}
		</if>
		<if test="searchDt != null and searchDt != ''">
			  AND (
			       (#{searchDt} BETWEEN CP.START_DATE AND CP.END_DATE)
			       OR
			       (#{searchDt} BETWEEN CP.REG_OPEN_DATE AND CP.REG_CLOSE_DATE)
			      )
		</if>
		ORDER BY CP.REG_DT DESC
		<include refid="kr.co.gocle.include.paging-end" />
	</select>
	
	<select id="selectReservation" resultType="UserReservationVO">
		SELECT
			CP.PG_ID,
			CP.PG_TYPE,
			CP.PG_NAME,
			CP.PG_TARGET,
			CP.PG_ITEM,
			CP.DURATION,
			CP.CAPACITY,
			CP.LOCATION,
			CP.INSTRUCTOR_NAME,
			CP.CONTACT,
			CP.START_DATE,
			CP.END_DATE,
			CP.REG_OPEN_DATE,
			CP.REG_CLOSE_DATE,
			CP.STATUS,
			CP.REG_DT,
			(SELECT AF.SAVE_FILE_NAME
				FROM ATCH_FILE AF
				WHERE AF.P_ID = CP.PG_ID
				AND AF.THUMBNAIL_CROP = 'Y'
				AND AF.DELETE_YN = 'N'
			) AS PG_THUMB_PATH
		FROM COM_PROGRAM CP
		WHERE CP.PG_TYPE = #{pgType}
			AND CP.DELETE_YN = 'N'
			AND CP.PG_ID = #{pgId}
	</select>

	<select id="selectScheduleList" resultType="UserProgramVO">
			SELECT
				PG_ID,
				PG_TYPE,
				PG_NAME,
				START_DATE,
				END_DATE,
				STATUS,
				REG_OPEN_DATE,
				REG_CLOSE_DATE
			FROM COM_PROGRAM 
			WHERE DELETE_YN = 'N'
			<if test="types != null and types.size() > 0">
		      AND PG_TYPE IN
		      <foreach collection="types" item="t" open="(" separator="," close=")">
		        #{t}
		      </foreach>
		    </if>
	</select>
	
	<insert id="insertReservation">
		INSERT INTO COM_RESERVATION (
            RESV_ID,
            PG_ID,
            PG_TYPE,
            DI_KEY,
            NAME,
            PHONE,
            EMAIL,
            SLOT_ID,
            AGE,
            GENDER,
            PARENT_NAME,
            PARENT_PHONE,
            GROUP_YN,
            GROUP_NAME,
            GROUP_TYPE,
            PEOPLE_CNT,
            APPLY_DATE,
            CAR_NUM,
            PRODUCT_ID,
            OPTION_NAME,
            STATUS,
            RECOMMEND,
            REG_DT,
            REG_ID,
            LOCATION,
            PROGRAM_DT
        ) VALUES (
            #{resvId},
            #{pgId},
            #{pgType},
            #{diKey},
            #{name}, 
            #{phone, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler},
            #{email, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler},
            #{slotId},
            #{age},
            #{gender},
            #{parentName},
            #{parentPhone, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler},
            #{groupYn},
            #{groupName},
            #{groupType},
            #{peopleCnt},
            NOW(),
            #{carNum, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler}, 
            #{productId},
            #{optionName},
            #{status},
            #{recommend},
            NOW(),
            #{sessionMemSeq},
            #{location},
            #{programDt}
        )
	</insert>
	
	<select id="getResvDupChk" resultType="int">
			SELECT count(*)
			FROM COM_RESERVATION
			WHERE DELETE_YN = 'N'
		      AND PG_ID = #{pgId}
		      AND DI_KEY = #{diKey}
		      AND SLOT_ID = #{slotId}
	</select>
	
	<select id="regChk" resultType="int">
			SELECT count(*)
			FROM COM_RESERVATION
			WHERE DELETE_YN = 'N'
		      AND PG_ID = #{pgId}
		      AND REG_ID = #{sessionMemSeq}
		      AND REG_DT >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
	</select>
	
	<select id="regPlaceCnt" resultType="int">
		SELECT COUNT(DISTINCT LOCATION)
	    FROM COM_RESERVATION
	    WHERE DELETE_YN = 'N'
	      AND PG_ID = #{pgId}
	</select>
	
	<select id="regPlace" parameterType="UserReservationVO" resultType="UserReservationVO">
		SELECT DISTINCT LOCATION
	    FROM COM_RESERVATION
	    WHERE DELETE_YN = 'N'
	    AND PG_ID = #{pgId}
	</select>
	
	<select id="selectHeadsByLocation" parameterType="string" resultType="UserReservationVO">
	    SELECT
	      CR.LOCATION        AS location,
	      SUM(
	        CASE WHEN CR.GROUP_YN = 'Y'
	             THEN CAST(CR.PEOPLE_CNT AS UNSIGNED)
	             ELSE 1
	        END
	      ) AS locationCnt
	    FROM COM_RESERVATION CR
	    WHERE CR.DELETE_YN = 'N'
	      AND CR.PG_ID     = #{pgId}
	    GROUP BY CR.LOCATION
	</select>
	
	<select id="sumHeadsByDate" resultType="UserReservationVO">
	  SELECT
	      r.location AS location,
	      SUM(CASE WHEN r.group_yn = 'Y' THEN IFNULL(r.people_cnt, 1) ELSE 1 END) AS location_cnt
	  FROM COM_RESERVATION r
	  WHERE r.pg_id = #{pgId}
	  	AND (r.STATUS != 'CANCEL' AND r.STATUS != 'REJECT')
	    AND r.DELETE_YN = 'N'
	  GROUP BY r.location
	  ORDER BY r.location
	</select>
	
	<select id="selectResvCheck" resultType="String">
		SELECT
		    CR.PRODUCT_ID
		FROM COM_RESERVATION CR
		WHERE CR.DELETE_YN = 'N'
			AND CR.PG_TYPE = 'wood'
			AND CR.PG_ID = #{pgId}
			AND CR.SLOT_ID = #{slotId}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON SS.SGR_CD = S.SGR_CD 
			AND SS.SUBJ_CD = S.SUBJ_CD
		INNER JOIN TB_SUBJ_CATE SC
			ON SC.CATE_CD = SS.CATE_CD
			AND SC.SGR_CD = SS.SGR_CD
		LEFT JOIN COM_COMPANY CC	
			ON CC.COM_ID = SS.COM_ID
		LEFT JOIN TB_ENROLL E
			ON E.SEQ_CD = SS.SEQ_CD
		WHERE 1 = 1
			AND SS.USE_YN = 'Y'
		<if test="searchMyProgram != null and searchMyProgram != '' ">
		    AND E.DI_KEY = #{diKey}
		</if>
		<include refid="selectSearchWhere" />
	</select>


	<select id="selectList" resultType="EnrollManageVo">
		<include refid="kr.co.gocle.include.paging-start" />
		SELECT SS.SUBJ_NM
			  , SS.SEQ_CD
			  , SS.CATE_CD
			  , SC.CATE_NM
			  , SS.SGR_CD
			  ,(
		         SELECT AF.SAVE_FILE_NAME
		         FROM ATCH_FILE AF
		         WHERE AF.THUMBNAIL_CROP = 'Y'
		         	AND AF.DELETE_YN = 'N'
		            AND SS.SEQ_CD = AF.P_ID
		         LIMIT 1
		        ) AS THUMBPATH
		      , DATE_FORMAT(SS.ENROLL_START_DT, '%y.%m.%d') AS ENROLL_START_DT
			  , DATE_FORMAT(SS.ENROLL_END_DT, '%y.%m.%d') AS ENROLL_END_DT
			  , DATE_FORMAT(SS.LEARN_START_DT, '%y.%m.%d') AS LEARN_START_DT
			  , DATE_FORMAT(SS.LEARN_END_DT, '%y.%m.%d') AS LEARN_END_DT
			  , <![CDATA[
				CASE WHEN NOW() < SS.ENROLL_START_DT THEN 'be'
					 WHEN NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT
				        AND (SS.CAPACITY > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
			            	OR (SS.CAPACITY  <= (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
			                	AND SS.WAIT_ENROLL_CNT > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'A'))
        				) THEN 'ing'
    			ELSE 'end'
				END AS STATUS
			 	]]> 
			  , SS.WAIT_ENROLL_CNT
			  , SS.CAPACITY
			  , SS.EDU_TARGET
			  , (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B') AS ENROLL_CNT
			  , (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'A') AS WAIT_CNT
			  , SS.REG_DT
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON SS.SGR_CD = S.SGR_CD 
			AND SS.SUBJ_CD = S.SUBJ_CD
		INNER JOIN TB_SUBJ_CATE SC
			ON SC.CATE_CD = SS.CATE_CD
			AND SC.SGR_CD = SS.SGR_CD
		LEFT JOIN COM_COMPANY CC	
			ON CC.COM_ID = SS.COM_ID
		LEFT JOIN TB_ENROLL E
			ON E.SEQ_CD = SS.SEQ_CD
		WHERE 1 = 1
			AND SS.USE_YN = 'Y'
		<if test="searchMyProgram != null and searchMyProgram != '' ">
		    AND E.DI_KEY = #{diKey}
		</if>
		<include refid="selectSearchWhere" />
		ORDER BY SS.ENROLL_START_DT DESC, SS.ENROLL_END_DT DESC
		<include refid="kr.co.gocle.include.paging-end" />
	</select>
	
	<select id="selectConsultingList">
		SELECT SS.SEQ_CD
			  , SS.SUBJ_NM
			  , SS.CATE_CD
			  , DATE_FORMAT(SS.LEARN_START_DT, '%Y-%m-%d') AS LEARN_START_DT
			  , DATE_FORMAT(SS.LEARN_END_DT, '%Y-%m-%d') AS LEARN_END_DT
			  , DATE_FORMAT(SS.LEARN_START_DT, '%H:%i') AS START_TIME
    		  , DATE_FORMAT(SS.LEARN_END_DT, '%H:%i') AS END_TIME 
			  , SS.CAPACITY
			  , (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B') AS ENROLL_CNT
			  , CASE WHEN NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT
				        AND (SS.CAPACITY > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
			            	OR (SS.CAPACITY <![CDATA[ <= ]]> (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
			                	AND SS.WAIT_ENROLL_CNT > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'A'))
        					) THEN 'apply'
    			ELSE 'disable'
				END AS STATUS
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON SS.SGR_CD = S.SGR_CD 
			AND SS.SUBJ_CD = S.SUBJ_CD
		WHERE 1 = 1
			AND SS.USE_YN = 'Y'
		<include refid="selectSearchWhere" />
		ORDER BY SS.SUBJ_NM
	</select>
	
	<select id="selectProgramList">
		SELECT SS.SEQ_CD
			  , SS.SUBJ_NM
			  , SS.CATE_CD
			  , SC.CATE_NM
			  , DATE_FORMAT(SS.LEARN_START_DT, '%Y-%m-%d') AS LEARN_START_DT
			  , DATE_FORMAT(SS.LEARN_END_DT, '%Y-%m-%d') AS LEARN_END_DT
			  , DATE_FORMAT(SS.LEARN_START_DT, '%H:%i') AS START_TIME
    		  , DATE_FORMAT(SS.LEARN_END_DT, '%H:%i') AS END_TIME 
    		  , DATE_FORMAT(SS.LEARN_START_DT, '%d') AS LEARN_START_DAY 
			  , SS.CAPACITY
			  , (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B') AS ENROLL_CNT
				,SS.SGR_CD
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON SS.SGR_CD = S.SGR_CD 
			AND SS.SUBJ_CD = S.SUBJ_CD
		INNER JOIN TB_SUBJ_CATE SC
			ON SC.CATE_CD = S.CATE_CD
			AND S.SGR_CD = SC.SGR_CD
		WHERE 1 = 1
			AND SS.USE_YN = 'Y'
			<include refid="selectSearchWhere" />
		ORDER BY SS.LEARN_START_DT
	</select>
	
	<select id="selectSubjSeqEduInfo" resultType="SubjSeqManageVo" parameterType="SubjSeqManageVo">
		SELECT SS.SEQ_CD
			, SS.SUBJ_CD
			, SS.SGR_CD
			, SG.SGR_NM
			, SS.SUBJ_NM
			, SS.SESSION_NM
			, SC.CATE_NM
			, CC.COM_TITLE
			, IFNULL(SS.CAPACITY, 0) AS CAPACITY
			, IFNULL(SS.WAIT_ENROLL_CNT, 0) AS WAIT_ENROLL_CNT
			, SS.EDU_TARGET
			, DATE_FORMAT(SS.ENROLL_START_DT, '%y.%m.%d %H:%i') AS ENROLL_START_DT
			, DATE_FORMAT(SS.ENROLL_END_DT, '%y.%m.%d %H:%i') AS ENROLL_END_DT
			, DATE_FORMAT(SS.LEARN_START_DT, '%y.%m.%d %H:%i') AS LEARN_START_DT
			, DATE_FORMAT(SS.LEARN_END_DT, '%y.%m.%d %H:%i') AS LEARN_END_DT
			, SS.TEL
			, SS.ENROLL_TYPE
			, SS.SUBJ_PLAN
			, SS.SUBJ_DESC
			, S.DUPL_ENROLL_YN
			, CL.LOCATION
			, <![CDATA[
				CASE WHEN NOW() < SS.ENROLL_START_DT THEN 'be'
					 WHEN NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT
				        AND (SS.CAPACITY > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
			            	OR (SS.CAPACITY  <= (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B')
			                	AND SS.WAIT_ENROLL_CNT > (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'A'))
        				) THEN 'ing'
    			ELSE 'end'
				END AS STATUS
			 ]]> 
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON S.SGR_CD = SS.SGR_CD
			AND S.SUBJ_CD = SS.SUBJ_CD
		INNER JOIN TB_SGR SG
			ON SS.SGR_CD = SG.SGR_CD
		INNER JOIN TB_SUBJ_CATE SC
			ON SC.CATE_CD = S.CATE_CD
			AND S.SGR_CD = SC.SGR_CD
		LEFT JOIN COM_COMPANY CC
			ON CC.COM_ID = SS.COM_ID
		LEFT JOIN COMPANY_LOCATION CL
			ON CL.LOC_ID = SS.LOC_ID
			AND CL.COM_ID = CC.COM_ID
		WHERE 1 = 1
			AND SS.SEQ_CD = #{seqCd}
	</select>
	
	<select id="selectEnrollValidInfo">
		SELECT ss.capacity
			, ss.wait_enroll_cnt AS waitEnrollCnt
			, IFNULL(s.dupl_enroll_yn, 'N') AS duplEnrollYn
			, IFNULL((
		        SELECT IFNULL(e.enroll_status_cd, 'Z') 		/* 등록되었으나 상태값이 없는 경우 : Z */
		        FROM TB_ENROLL e
		        WHERE e.seq_cd = #{seqCd}
		        	AND e.di_key = #{diKey}
		     ), 'X') AS enrollStatusCd 						/* 수강신청한 이력이 없는 경우 : X */
		    , (SELECT COUNT(e.seq_cd)
		        FROM TB_ENROLL e
		        WHERE e.seq_cd = #{seqCd}
		        AND  e.enroll_status_cd = 'A'
		     ) AS waitCnt 									/* 총 승인대기자 수 */
		    , (SELECT COUNT(e.seq_cd)
		        FROM TB_ENROLL e
		        WHERE e.seq_cd = #{seqCd}
		        AND  e.enroll_status_cd = 'B'
		     ) AS enrollCnt 								/* 총 수강승인자 수 */
		    , CASE
		        WHEN ss.enroll_start_dt > NOW() THEN 'R' 	/* 대기 */
		        WHEN NOW() > ss.enroll_end_dt THEN 'E' 		/* 종료 */
		        ELSE 'I' 									/* 진행중 */
		     END AS enrollDtStsCd
		     ,(SELECT COUNT(*) 
			   FROM TB_SUBJ_SEQ tss
			   WHERE tss.sgr_cd = s.sgr_cd
			   	 AND tss.subj_cd = s.subj_cd
			     AND tss.seq_cd != ss.seq_cd
			     AND tss.use_yn = 'Y'
			     AND EXISTS (
			         SELECT 1 
			         FROM TB_ENROLL e 
			         WHERE e.seq_cd = tss.seq_cd
			     )) AS subjEnrollCnt						/* 같은 마스터의 운영과정 신청개수 */
		FROM TB_SUBJ_SEQ ss
		INNER JOIN TB_SUBJ s 
			ON ss.sgr_cd = s.sgr_cd AND ss.subj_cd = s.subj_cd
		WHERE ss.seq_cd = #{seqCd}
			AND ss.use_yn = 'Y'
	</select>
	
	<insert id="insertEnroll">
		INSERT 
		INTO TB_ENROLL (
			 seq_cd
			, di_key
			, mem_name
			, enroll_status_cd
			, sms_yn
			, age_group
			, grade
			, school_nm
			, sexdstn
			, address
			, zipcode
			, memo
			, hp_tel1
			, hp_tel2
			, hp_tel3
			, resdnc_detail
			, reg_id
			, reg_ip
			, reg_dt
			<if test="enrollStatusCd != null and enrollStatusCd != '' ">
				<if test='enrollStatusCd == "B" '>
				, enroll_app_id
				, enroll_app_ip
				, enroll_app_dt
				</if>
			</if>		
		) VALUES (
			 #{seqCd}
			, #{diKey}
			, (SELECT MEM_NAME FROM TB_USER WHERE DI_KEY = #{diKey})
			, #{enrollStatusCd}
			, IFNULL(#{smsYn}, 'N')
			, #{ageGroup}
			, #{grade}
			, #{schoolNm}
			, #{sexdstn}
			, #{address}
			, #{zipcode}
			, #{memo}
			, #{hpTel1}
			, #{hpTel2}
			, #{hpTel3}
			, #{resdncDetail}
			, #{diKey}
			, #{sessionIp}
			, NOW()
			<if test="enrollStatusCd != null and enrollStatusCd != '' ">
				<if test='enrollStatusCd == "B" '>
				, #{diKey}
				, #{sessionIp}
				, NOW()
				</if>
			</if>
		)
	</insert>
	
	<insert id="insertEnrollHistory">
		INSERT INTO TB_ENROLL_HIST
		(	
			seqno
		  , seq_cd
		  , di_key
		  , mem_name
		  , age_group
		  , grade
		  , school_nm
		  , sexdstn
		  , address
		  , zipcode
		  , memo
		  , hp_tel1
		  , hp_tel2
		  , hp_tel3
		  , resdnc_detail
		  , enroll_status_cd
		  , sms_yn
		  , force_yn
		  , reg_id
		  , reg_ip
		  , reg_dt
	 	  , connection_type
	 	  , enroll_app_id
	 	  , enroll_app_ip
	 	  , enroll_app_dt
	 	  , cancel_req_dt
		) SELECT
		   (SELECT IFNULL(MAX(seqno), 0) + 1 FROM TB_ENROLL_HIST) AS seqno
		  , seq_cd
		  , di_key
		  , mem_name
		  , age_group
		  , grade
		  , school_nm
		  , sexdstn
		  , address
		  , zipcode
		  , memo
		  , hp_tel1
		  , hp_tel2
		  , hp_tel3
		  , resdnc_detail
		  , enroll_status_cd
		  , sms_yn
		  , force_yn
		  , #{sessionMemSeq}
		  , #{sessionIp}
		  , NOW()
	 	  , #{connectionType} AS connection_type
	 	  , enroll_app_id
	 	  , enroll_app_ip
	 	  , enroll_app_dt
	 	  , cancel_req_dt
		FROM TB_ENROLL
		WHERE SEQ_CD = #{seqCd}
		AND DI_KEY = #{diKey}
	</insert>
</mapper>