<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.usr.reservation.service.impl.UserReservationMapper">

	<sql id="selectSearchWhere">
		<if test="searchSgrCd != null and !searchSgrCd != '' ">
			AND SS.SGR_CD = #{searchSgrCd}
		</if>
		<if test="searchCateCd != null and searchCateCd != '' ">
			<choose>
				<when test="searchCateCd == 'BB' ">AND SS.CATE_CD IN ('BB', 'BC')</when>
				<when test="searchCateCd == 'BD' ">AND SS.CATE_CD IN ('BD', 'BE')</when>
				<otherwise>AND SS.CATE_CD = #{searchCateCd}</otherwise>
			</choose>
		</if>
		<if test="searchKeyword != null and searchKeyword != '' ">
			AND SS.SUBJ_NM LIKE CONCAT('%', #{searchKeyword}, '%')
		</if>
		<if test="searchEduTarget != null and searchEduTarget != '' ">
			 AND (
			        <foreach collection="searchEduTarget.split(',')" item="target" separator=" OR ">
			            FIND_IN_SET(#{target}, SS.EDU_TARGET) > 0
			        </foreach>
			    )
		</if>
		<if test="searchEduPlace != null and searchEduPlace != '' ">
			<if test="searchEduPlace == 'east' ">
				AND CC.COM_TITLE LIKE CONCAT('%', '동부권', '%')
			</if>
			<if test="searchEduPlace == 'west' ">
				AND CC.COM_TITLE LIKE CONCAT('%', '서부권', '%')
			</if>
		</if>
		<if test="searchStatus != null and searchStatus != '' ">
			<choose>
				<when test="searchStatus == 'ing' ">AND NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT</when>
				<when test="searchStatus == 'be' ">AND NOW() <![CDATA[ < ]]> SS.ENROLL_START_DT</when>
				<otherwise> AND NOW() > SS.ENROLL_END_DT</otherwise>
			</choose>
		</if>
		
		<if test="searchLearnDt != null and searchLearnDt != '' ">
			<!-- AND CAST(#{searchLearnDt} AS DATE) BETWEEN CAST(SS.LEARN_START_DT AS DATE) AND CAST(SS.LEARN_END_DT AS DATE) -->
			<![CDATA[
			AND (
				    DATE_FORMAT(SS.LEARN_START_DT, '%Y-%m')
				        <= #{searchLearnDt}
				AND DATE_FORMAT(SS.LEARN_END_DT, '%Y-%m')
				        >= #{searchLearnDt}
				)
			]]>
		</if>
	</sql>

	<select id="selectReservationList" parameterType="UserReservationVO" resultType="UserReservationVO">
		<include refid="kr.co.gocle.include.paging-start" />
		SELECT
			CP.PG_ID,
			CP.PG_TYPE,
			CP.PG_NAME,
			CP.PG_TARGET,
			CP.PG_ITEM,
			CP.DURATION,
			CP.CAPACITY,
			CP.LOCATION,
				(
				  SELECT GROUP_CONCAT(
				           FN_GET_CODE_NAME(
				             CASE CP.PG_CODE
				               WHEN 'FOREST_INT' THEN 'GEN_PLACE'
				               WHEN 'CHILD_REG'  THEN 'KIND_PLACE'
				               ELSE CONCAT(SUBSTRING_INDEX(CP.PG_TARGET,'_',1), '_PLACE')
				             END,
				             TRIM(t.val)
				           ) SEPARATOR ', '
				         )
				  FROM JSON_TABLE(
				         CONCAT('["', REPLACE(CP.LOCATION, ',', '","'), '"]'),
				         '$[*]' COLUMNS(val VARCHAR(50) PATH '$')
				       ) t
				) AS LOCATION_NM,
			CP.INSTRUCTOR_NAME,
			CP.CONTACT,
			CP.START_DATE,
			CP.END_DATE,
			CP.REG_OPEN_DATE,
			CP.REG_CLOSE_DATE,
			CP.STATUS,
			CP.CLASS_TYPE,
			CP.REG_DT,
			(SELECT AF.SAVE_FILE_NAME
				FROM ATCH_FILE AF
				WHERE AF.P_ID = CP.PG_ID
				AND AF.THUMBNAIL_CROP = 'Y'
				AND AF.DELETE_YN = 'N'
			) AS PG_THUMB_PATH,
			CP.PG_CODE,
			FN_GET_CODE_NAME('FOREST_EDU_CATE', CP.PG_CODE) AS PG_CODE_NM
		FROM COM_PROGRAM CP
		WHERE CP.PG_TYPE = #{pgType}
			AND CP.DELETE_YN = 'N'
		<if test="classType != null and classType != ''">
			AND CP.CLASS_TYPE = #{classType}
		</if>
		<if test="pgCode != null and pgCode != ''">
			AND CP.PG_CODE = #{pgCode}
		</if>
		<if test="searchDt != null and searchDt != ''">
			  AND (
			       (#{searchDt} BETWEEN CP.START_DATE AND CP.END_DATE)
			       OR
			       (#{searchDt} BETWEEN CP.REG_OPEN_DATE AND CP.REG_CLOSE_DATE)
			      )
		</if>
		ORDER BY CP.REG_DT DESC
		<include refid="kr.co.gocle.include.paging-end" />
	</select>
	
	<select id="selectReservation" resultType="UserReservationVO">
		SELECT
			CP.PG_ID,
			CP.PG_TYPE,
			CP.PG_NAME,
			CP.PG_TARGET,
			CP.PG_ITEM,
			CP.DURATION,
			CP.CAPACITY,
			CP.LOCATION,
			CP.INSTRUCTOR_NAME,
			CP.CONTACT,
			CP.START_DATE,
			CP.END_DATE,
			CP.REG_OPEN_DATE,
			CP.REG_CLOSE_DATE,
			CP.STATUS,
			CP.REG_DT,
			(SELECT AF.SAVE_FILE_NAME
				FROM ATCH_FILE AF
				WHERE AF.P_ID = CP.PG_ID
				AND AF.THUMBNAIL_CROP = 'Y'
				AND AF.DELETE_YN = 'N'
			) AS PG_THUMB_PATH
		FROM COM_PROGRAM CP
		WHERE CP.PG_TYPE = #{pgType}
			AND CP.DELETE_YN = 'N'
			AND CP.PG_ID = #{pgId}
	</select>

	<select id="selectScheduleList" resultType="UserProgramVO">
			SELECT
				PG_ID,
				PG_TYPE,
				PG_NAME,
				START_DATE,
				END_DATE,
				STATUS,
				REG_OPEN_DATE,
				REG_CLOSE_DATE
			FROM COM_PROGRAM 
			WHERE DELETE_YN = 'N'
			<if test="types != null and types.size() > 0">
		      AND PG_TYPE IN
		      <foreach collection="types" item="t" open="(" separator="," close=")">
		        #{t}
		      </foreach>
		    </if>
	</select>
	
	<insert id="insertReservation">
		INSERT INTO COM_RESERVATION (
            RESV_ID,
            PG_ID,
            PG_TYPE,
            DI_KEY,
            NAME,
            PHONE,
            EMAIL,
            SLOT_ID,
            AGE,
            GENDER,
            PARENT_NAME,
            PARENT_PHONE,
            GROUP_YN,
            GROUP_NAME,
            GROUP_TYPE,
            PEOPLE_CNT,
            APPLY_DATE,
            CAR_NUM,
            PRODUCT_ID,
            OPTION_NAME,
            STATUS,
            RECOMMEND,
            REG_DT,
            REG_ID,
            LOCATION,
            PROGRAM_DT
        ) VALUES (
            #{resvId},
            #{pgId},
            #{pgType},
            #{diKey},
            #{name}, 
            #{phone, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler},
            #{email, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler},
            #{slotId},
            #{age},
            #{gender},
            #{parentName},
            #{parentPhone, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler},
            #{groupYn},
            #{groupName},
            #{groupType},
            #{peopleCnt},
            NOW(),
            #{carNum, typeHandler=com.gocle.yangju.forest.comm.util.AESTypeHandler}, 
            #{productId},
            #{optionName},
            #{status},
            #{recommend},
            NOW(),
            #{sessionMemSeq},
            #{location},
            #{programDt}
        )
	</insert>
	
	<select id="getResvDupChk" resultType="int">
			SELECT count(*)
			FROM COM_RESERVATION
			WHERE DELETE_YN = 'N'
		      AND PG_ID = #{pgId}
		      AND DI_KEY = #{diKey}
		      AND SLOT_ID = #{slotId}
	</select>
	
	<select id="regChk" resultType="int">
			SELECT count(*)
			FROM COM_RESERVATION
			WHERE DELETE_YN = 'N'
		      AND PG_ID = #{pgId}
		      AND REG_ID = #{sessionMemSeq}
		      AND REG_DT >= DATE_SUB(NOW(), INTERVAL 1 MONTH)
	</select>
	
	<select id="regPlaceCnt" resultType="int">
		SELECT COUNT(DISTINCT LOCATION)
	    FROM COM_RESERVATION
	    WHERE DELETE_YN = 'N'
	      AND PG_ID = #{pgId}
	</select>
	
	<select id="regPlace" parameterType="UserReservationVO" resultType="UserReservationVO">
		SELECT DISTINCT LOCATION
	    FROM COM_RESERVATION
	    WHERE DELETE_YN = 'N'
	    AND PG_ID = #{pgId}
	</select>
	
	<select id="selectHeadsByLocation" parameterType="string" resultType="UserReservationVO">
	    SELECT
	      CR.LOCATION        AS location,
	      SUM(
	        CASE WHEN CR.GROUP_YN = 'Y'
	             THEN CAST(CR.PEOPLE_CNT AS UNSIGNED)
	             ELSE 1
	        END
	      ) AS locationCnt
	    FROM COM_RESERVATION CR
	    WHERE CR.DELETE_YN = 'N'
	      AND CR.PG_ID     = #{pgId}
	    GROUP BY CR.LOCATION
	</select>
	
	<select id="sumHeadsByDate" resultType="UserReservationVO">
	  SELECT
	      r.location AS location,
	      SUM(CASE WHEN r.group_yn = 'Y' THEN IFNULL(r.people_cnt, 1) ELSE 1 END) AS location_cnt
	  FROM COM_RESERVATION r
	  WHERE r.pg_id = #{pgId}
	  	AND (r.STATUS != 'CANCEL' AND r.STATUS != 'REJECT')
	    AND r.DELETE_YN = 'N'
	  GROUP BY r.location
	  ORDER BY r.location
	</select>
	
	<select id="selectResvCheck" resultType="String">
		SELECT
		    CR.PRODUCT_ID
		FROM COM_RESERVATION CR
		WHERE CR.DELETE_YN = 'N'
			AND CR.PG_TYPE = 'wood'
			AND CR.PG_ID = #{pgId}
			AND CR.SLOT_ID = #{slotId}
	</select>
	
	<select id="selectTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON SS.SGR_CD = S.SGR_CD 
			AND SS.SUBJ_CD = S.SUBJ_CD
		LEFT JOIN COM_COMPANY CC	
			ON CC.COM_ID = SS.COM_ID
		WHERE 1 = 1
			AND SS.USE_YN = 'Y'
		<include refid="selectSearchWhere" />
	</select>


	<select id="selectList" resultType="EnrollManageVo">
		<include refid="kr.co.gocle.include.paging-start" />
		SELECT SS.SUBJ_NM
			  , SS.SEQ_CD
			  , SS.CATE_CD
			  , SS.SGR_CD
			  ,(
		         SELECT AF.SAVE_FILE_NAME
		         FROM ATCH_FILE AF
		         WHERE AF.THUMBNAIL_CROP = 'Y'
		         	AND AF.DELETE_YN = 'N'
		            AND SS.SEQ_CD = AF.P_ID
		         LIMIT 1
		        ) AS THUMBPATH
		      , DATE_FORMAT(SS.ENROLL_START_DT, '%y.%m.%d') AS ENROLL_START_DT
			  , DATE_FORMAT(SS.ENROLL_END_DT, '%y.%m.%d') AS ENROLL_END_DT
			  , DATE_FORMAT(SS.LEARN_START_DT, '%y.%m.%d') AS LEARN_START_DT
			  , DATE_FORMAT(SS.LEARN_END_DT, '%y.%m.%d') AS LEARN_END_DT
			  , CASE WHEN NOW() BETWEEN SS.ENROLL_START_DT AND SS.ENROLL_END_DT THEN 'ing'
			  		WHEN NOW() <![CDATA[ < ]]> SS.ENROLL_START_DT THEN 'be'
			  		ELSE 'end'
			  	END AS STATUS
			  , SS.WAIT_ENROLL_CNT
			  , SS.CAPACITY
			  , SS.EDU_TARGET
			  , (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B') AS ENROLL_CNT
			  , (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'A') AS WAIT_CNT
			  , SS.REG_DT
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON SS.SGR_CD = S.SGR_CD 
			AND SS.SUBJ_CD = S.SUBJ_CD
		LEFT JOIN COM_COMPANY CC	
			ON CC.COM_ID = SS.COM_ID
		WHERE 1 = 1
			AND SS.USE_YN = 'Y'
		<include refid="selectSearchWhere" />
		ORDER BY SS.ENROLL_START_DT DESC, SS.ENROLL_END_DT DESC
		<include refid="kr.co.gocle.include.paging-end" />
	</select>
	
	<select id="selectConsultingList">
		SELECT SS.SEQ_CD
			  , SS.SUBJ_NM
			  , SS.CATE_CD
			  , DATE_FORMAT(SS.LEARN_START_DT, '%Y-%m-%d') AS LEARN_START_DT
			  , DATE_FORMAT(SS.LEARN_END_DT, '%Y-%m-%d') AS LEARN_END_DT
			  , DATE_FORMAT(SS.LEARN_START_DT, '%H:%i') AS START_TIME
    		  , DATE_FORMAT(SS.LEARN_END_DT, '%H:%i') AS END_TIME 
			  , SS.CAPACITY
			  , (SELECT COUNT(*) FROM TB_ENROLL E WHERE E.SEQ_CD = SS.SEQ_CD AND E.ENROLL_STATUS_CD = 'B') AS ENROLL_CNT
		FROM TB_SUBJ_SEQ SS
		INNER JOIN TB_SUBJ S
			ON SS.SGR_CD = S.SGR_CD 
			AND SS.SUBJ_CD = S.SUBJ_CD
		WHERE 1 = 1
			AND SS.USE_YN = 'Y'
		<include refid="selectSearchWhere" />
	</select>
	
	<select id="selectSubjSeqEduInfo" resultType="SubjSeqManageVo" parameterType="SubjSeqManageVo">
		SELECT ss.seq_cd
			, ss.sgr_cd
			, sg.sgr_nm
			, ss.subj_nm
			, ss.session_nm
			, sc.cate_nm
			, cc.com_title
			, IFNULL(ss.capacity, 0) as capacity
			, IFNULL(ss.wait_enroll_cnt, 0) as wait_enroll_cnt
			, ss.edu_target
			, DATE_FORMAT(ss.enroll_start_dt, '%y.%m.%d %H:%i') AS enroll_start_dt
			, DATE_FORMAT(ss.enroll_end_dt, '%y.%m.%d %H:%i') AS enroll_end_dt
			, DATE_FORMAT(ss.learn_start_dt, '%y.%m.%d %H:%i') AS learn_start_dt
			, DATE_FORMAT(ss.learn_end_dt, '%y.%m.%d %H:%i') AS learn_end_dt
			, ss.tel
			, ss.enroll_type
			, ss.subj_plan
			, ss.subj_desc
			, s.dupl_enroll_yn
			, cl.location
		FROM TB_SUBJ_SEQ ss
		INNER JOIN TB_SUBJ s
			ON s.sgr_cd = ss.sgr_cd
			AND s.subj_cd = ss.subj_cd
		INNER JOIN TB_SGR sg
			ON ss.sgr_cd = sg.sgr_cd
		INNER JOIN TB_SUBJ_CATE sc
			ON sc.cate_cd = s.cate_cd
			AND s.sgr_cd = sc.sgr_cd
		LEFT JOIN COM_COMPANY cc
			ON cc.com_id = ss.com_id
		LEFT JOIN COMPANY_LOCATION cl
			ON cl.loc_id = ss.loc_id
			AND cl.com_id = cc.com_id
		WHERE 1 = 1
			AND ss.seq_cd = #{seqCd}
	</select>
	
</mapper>