<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.adm.chsearch.service.impl.SearchManageMapper">
	
	<select id="selectSgrList" resultType="SubjCateManageVo">
		SELECT sg.sgr_cd as sgr_cd
			 , sg.sgr_nm as sgr_nm
		FROM TB_SGR sg
		WHERE sg.use_yn = 'Y'
		ORDER BY sg.sgr_cd
	</select>
	
	<select id="selectCateCdList" resultType="SubjCateManageVo" parameterType="String">
		<!-- SELECT sc.cate_cd as cate_cd
			 , sc.cate_nm as cate_nm
		FROM TB_SUBJ_CATE sc
		INNER JOIN TB_SGR sg
			ON sc.sgr_cd = sg.sgr_cd
		WHERE 1 = 1
			AND sg.sgr_cd = #{sgrCd}
			AND sg.use_yn = 'Y'
		ORDER BY sc.sort_order -->
		
		SELECT sc.cate_cd as cate_cd
     		, sc.cate_nm as cate_nm
		FROM TB_SUBJ_CATE sc
		INNER JOIN TB_SGR sg
		    ON sc.sgr_cd = sg.sgr_cd
		INNER JOIN COM_MEMBER cm
		    ON cm.mem_id = #{memId}
		WHERE 1 = 1
		    AND sg.sgr_cd = #{sgrCd}
		    AND sg.use_yn = 'Y'
		    AND (
		    	(cm.mem_type = 'STAFF' AND cm.com_id = 12 AND sg.sgr_cd = 'B' AND sc.cate_cd = 'BA')
		    	OR
		    	NOT (cm.mem_type = 'STAFF' AND cm.com_id = 12 AND sg.sgr_cd = 'B')
		    )
		ORDER BY sc.sort_order
	</select>
	
	<select id="selectCompanyList" resultType="CompanyManageVo" parameterType="LoginVO">
		SELECT COM_ID, COM_TITLE, ADDRESS
		FROM COM_COMPANY
		WHERE USE_YN = 'Y'
		  AND (
		        (EXISTS (
		            SELECT 1
		            FROM COM_MEMBER
		            WHERE MEM_ID = #{memId} AND MEM_TYPE = 'STAFF'
		        ) AND COM_ID = (
		            SELECT COM_ID
		            FROM COM_MEMBER
		            WHERE MEM_ID = #{memId}
		        ))
		        OR
		        (NOT EXISTS (
		            SELECT 1
		            FROM COM_MEMBER
		            WHERE MEM_ID = #{memId} AND MEM_TYPE = 'STAFF'
		        ))
		      )
		ORDER BY COM_ID
	</select>
	
	<select id="selectLocationList" resultType="CompanyManageVo" parameterType="String">
		SELECT cl.LOCATION as location
              ,cl.loc_id as loc_id
        FROM COM_COMPANY cc
        INNER JOIN COMPANY_LOCATION cl
        	ON cc.com_id = cl.com_id
        WHERE 1 = 1
        AND cc.com_id = #{comId}
        ORDER BY cl.SEQ_NO
	</select>
	
	<select id="selectSubjSeqList" resultType="SubjSeqManageVo" parameterType="String">
		SELECT ss.subj_nm
			  , ss.session_nm
              , ss.seq_cd
        FROM TB_SUBJ s
        INNER JOIN TB_SUBJ_SEQ ss
        	ON ss.sgr_cd = s.sgr_cd
        	AND ss.subj_cd = s.subj_cd
        WHERE 1 = 1
        AND ss.subj_cd = #{subjCd}
        AND ss.use_yn = 'Y'
        ORDER BY ss.session_nm DESC
	</select>
</mapper>