<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.usr.mypage.service.impl.MyPageMapper">

	<update id="cancelResv">
		UPDATE COM_RESERVATION CR
		SET STATUS = 'CANCEL'
		,UPD_DT = NOW()
		,UPD_ID = #{sessionMemSeq}
		WHERE CR.DI_KEY = #{diKey}
		AND CR.RESV_ID = #{resvId}
	</update>
	
	<select id="myReservationCnt" resultType="int">
		SELECT COUNT(*)
		FROM TB_ENROLL E
		INNER JOIN TB_SUBJ_SEQ SS
			ON E.SEQ_CD = SS.SEQ_CD
		WHERE E.DI_KEY = #{diKey}
	</select>
	
	<select id="myReservationList" resultType="MyPageVo" parameterType="MyPageVo">
		<include refid="kr.co.gocle.include.paging-start" />
		SELECT E.SEQ_CD
			, SS.SUBJ_NM
			, E.REG_DT
			, E.ENROLL_STATUS_CD
			, fn_get_code_name('ENROLL_STATUS_CD', E.ENROLL_STATUS_CD) AS ENROLL_STATUS_NM
			, SS.ENROLL_TYPE
		FROM TB_ENROLL E
		INNER JOIN TB_SUBJ_SEQ SS
			ON E.SEQ_CD = SS.SEQ_CD
		WHERE E.DI_KEY = #{diKey}
		ORDER BY E.REG_DT DESC
		<include refid="kr.co.gocle.include.paging-end" />
	</select>
	
	<select id="myReservationView" resultType="MyPageVo" parameterType="MyPageVo">
		SELECT E.SEQ_CD
			, SS.SUBJ_NM
			, E.REG_DT
			, E.ENROLL_STATUS_CD
			, fn_get_code_name('ENROLL_STATUS_CD', E.ENROLL_STATUS_CD) AS ENROLL_STATUS_NM
			, SS.ENROLL_TYPE
			, E.MEM_NAME
			, E.SEXDSTN
			, E.AGE_GROUP
			, E.SCHOOL_NM
			, E.GRADE
			, E.HP_TEL1
			, E.HP_TEL2
			, E.HP_TEL3
			, E.GRADE
			, E.MEMO
			, E.ZIPCODE
			, E.ADDRESS
			, E.RESDNC_DETAIL
			, E.SMS_YN
			, SS.TEL
		FROM TB_ENROLL E
		INNER JOIN TB_SUBJ_SEQ SS
			ON E.SEQ_CD = SS.SEQ_CD
		WHERE E.DI_KEY = #{diKey}
			AND E.SEQ_CD = #{seqCd}
	</select>
	
	<update id="myReservationCancl">
		UPDATE TB_ENROLL
		SET ENROLL_STATUS_CD = 'E'
			, UPD_DT = NOW()
			, UPD_ID = #{diKey}
			, UPD_IP = #{sessionIp}
		WHERE DI_KEY = #{diKey}
		AND SEQ_CD = #{seqCd}
	</update>
	
	<update id="myReservationUpdate">
		UPDATE TB_ENROLL
		SET age_group = #{ageGroup}
		  , grade = #{grade}
		  , school_nm = #{schoolNm}
		  , sexdstn = #{sexdstn}
		  , address = #{address}
		  , zipcode = #{zipcode}
		  , memo = #{memo}
		  , hp_tel1 = #{hpTel1}
		  , hp_tel2 = #{hpTel2}
		  , hp_tel3 = #{hpTel3}
		  , resdnc_detail = #{resdncDetail}
		  , sms_yn = IFNULL(#{smsYn}, 'N')
		  , upd_id = #{diKey}
		  , upd_ip = #{sessionIp} 
		  , upd_dt = NOW()
	 	WHERE seq_cd = #{seqCd}
	 	AND di_key = #{diKey}
	</update>
</mapper>