<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gocle.yangju.forest.adm.chuser.service.impl.UsrManageMapper">
	
	<sql id="selectSearchWhere">
		<if test="searchKeyword != null and searchKeyword != ''">
			AND (
				REPLACE(U.HP_NO, '-', '') LIKE CONCAT ('%', REPLACE(#{searchKeyword}, '-', ''), '%')
			 OR U.MEM_NAME LIKE CONCAT ('%', #{searchKeyword}, '%')
			)
		</if>
	</sql>
	
	<select id="selectUserSearchTotalCount" resultType="int">
		SELECT COUNT(*)
		FROM TB_USER U
		LEFT JOIN TB_ENROLL E
			ON U.DI_KEY = E.DI_KEY
			AND E.SEQ_CD = #{seqCd}
		WHERE 1 = 1
			AND E.DI_KEY IS NULL
		<include refid="selectSearchWhere" />
	</select>
	
	<select id="selectUserSearchList" resultType="UsrManageVo" parameterType="UsrManageVo">
		<include refid="kr.co.gocle.include.paging-start" />
		SELECT U.DI_KEY
			, U.MEM_NAME
			, U.HP_NO
			, U.REG_DT
		FROM TB_USER U
		LEFT JOIN TB_ENROLL E
			ON U.DI_KEY = E.DI_KEY
			AND E.SEQ_CD = #{seqCd}
		WHERE 1 = 1
			AND E.DI_KEY IS NULL
		<include refid="selectSearchWhere" />
		<include refid="kr.co.gocle.include.paging-end" />
	</select>
	
</mapper>